/* common */
body {
    font: 12px/18px Tahoma, Arial, Verdana, sans-serif, "Lucida Sans";
    width: 100%;
}
h2 {
  border-bottom: 1px solid #DAE1E8;
  color: #45668E;
  font-size: 13px;
  font-weight: bold;
  padding: 0px 0px 3px;
  margin: 7px 0px 10px 0px;
}
/* server time */
.headerinfo {
    font-size: 11px;
    color: #fff;
    margin: 10px;
}
.headerinfo a{
    /*color: #fff;*/
    color: #80cdfd;
}
/* navigation */
.navigation {
    padding: 5px;
}
.navigation a, .navigation span {
    padding: 2px;
}
.navigation span {
    font-weight: bold;
}
/* table */
table {
    font-family: Tahoma, Arial, Verdana, sans-serif, "Lucida Sans";
    font-size: 12px;
    width: 100%;
    border: 0px;
}
table th, table td {
    padding: 5px 8px;
    border-radius: 3px;
}
table th {
    font-weight: bold;
    color: #fff;
    background: #597da3;
    text-align: center;
    font-size: 11px;
}
table tr.row0 td {
    background: #edf1f5;
}
table tr.row1 td {
    background: #fff;
}
table tr.last td {
    border-bottom: 1px solid #DAE1E8;
}
table tr:hover td {
    background: #f9ffde;
}
table td.sort_col {
    background: #fffbf9;
}
table tr.total td {
    margin-top: 10px;
    border-top: 1px dashed #a9abae;
}
a.order {
    width: 11px;
    height: 13px;
    margin: 0px 5px 0px 5px;
    background: url(../img/order.png) #597da3 no-repeat 0 0;
    overflow: hidden;
    text-indent: -300em;
    display: inline-block;
}
table.tiny_table {
    width: auto;
}
table.tiny_table, table.tiny_table tr td {
    margin: 0px;
    padding: 2px 5px 0px 2px;
}

/* seed */
span.phone{
    color: #2498BF;
}

span.url{
    color: #4A717E;
}

.changestatus a {
    font-weight: bold;
}

.changestatus a.show0{
    color: #D90606;
    
}

.changestatus a.show1{
    
}
/*
tr.noread {
    border-color: green;
}*/

a.unread{
    font-weight: bold;
    color: #1cab1c;
}

a.new-review{
    margin: 0 15px;
    color: #2B587A;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #2B587A;
    padding: 1px 7px;
    border-radius: 2px;

}

a.new-review:hover{
    text-decoration: none;
}

#page_wrapper sup{
    color: #f90909;
}

table tr.noread td.desc{
    background-color: #e0fbe5;
}

.macros-head{
    color: #3eb4fb;
    font-weight: bold;
}
.macros-name{
    color: #8a8484;
    font-weight: bold;
}
.macros-fields{
    color: #2262f7;
}

table tr td.green{
    border: 1px solid #1ef106;
}
table tr td.red{
    border: 1px solid #fb6867;
}

table tr.row0.noactive td, table tr.row1.noactive td{
    background-color: #fcbaba; 
}