/* dashboard */
.dashboard {
    position: relative;
    margin: 0px -20px 10px 10px;
}
.dashboard li.item {
    float: left;
    width: 240px;
    padding: 10px 0px 10px 0px;
    margin-right: 20px;
}
.dashboard li.last {
    margin-right: 0px !important;
}
.dashboard .inner {
    display: block;
}
.dashboard .inner .title {
    height: 32px;
    padding: 7px 0px 0px 40px;
}
.dashboard .inner .title h2 {
    margin: 0px 0px 10px 0px;
}
.dashboard .inner .content {
    padding: 5px;
    border: 1px solid #D9E0E7;
    min-height: 100px;
}
/* dash icons */
.dash_user {
    background: url(../img/32/user.png) no-repeat 0 0;
}
.dash_user_green {
    background: url(../img/32/user_green.png) no-repeat 0 0;
}
.dash_user_orange {
    background: url(../img/32/user_orange.png) no-repeat 0 0;
}
.dash_user_policeman {
    background: url(../img/32/user_policeman.png) no-repeat 0 0;
}
.dash_user_red {
    background: url(../img/32/user_red.png) no-repeat 0 0;
}
.dash_user_zorro {
    background: url(../img/32/user_zorro.png) no-repeat 0 0;
}
.dash_security {
    background: url(../img/32/security.png) no-repeat 0 0;
}
.dash_money {
    background: url(../img/32/money.png) no-repeat 0 0;
}
.dash_statistics {
    background: url(../img/32/statistics.png) no-repeat 0 0;
}
.dash_newspaper {
    background: url(../img/32/newspaper.png) no-repeat 0 0;
}
.dash_support {
    background: url(../img/32/support.png) no-repeat 0 0;
}
