/* menu */
ul.menu {
    margin: 10px 0px;
}
ul.menu li {
    padding: 0px 0 5px 22px;
}
ul.menu li.separate {
    padding: 0px;
    margin: 5px 0 7px 0px;
    border-bottom: 1px solid #DAE1E8;
    font-weight: bold;
    color: #45668E;
}
li.icon_dashboard {
    background: url(../img/icons/menu_dashboard.png) #ffffff no-repeat 0 0;
}
li.icon_orders {
    background: url(../img/icons/menu_orders.png) #ffffff no-repeat 0 0;
}
li.icon_statistics {
    background: url(../img/icons/menu_statistics.png) #ffffff no-repeat 0 0;
}
li.icon_top {
    background: url(../img/icons/menu_top.png) #ffffff no-repeat 0 0;
}
li.icon_pills {
    background: url(../img/icons/menu_pills.png) #ffffff no-repeat 0 0;
}
li.icon_country {
    background: url(../img/icons/menu_country.png) #ffffff no-repeat 0 0;
}
li.icon_referrer {
    background: url(../img/icons/menu_referrer.png) #ffffff no-repeat 0 0;
}
li.icon_news {
    background: url(../img/icons/menu_news.png) #ffffff no-repeat 0 0;
}
li.icon_money {
    background: url(../img/icons/menu_money.png) #ffffff no-repeat 0 0;
}
li.icon_invoices {
    background: url(../img/icons/menu_invoices.png) #ffffff no-repeat 0 0;
}
li.icon_public {
    background: url(../img/icons/menu_public.png) #ffffff no-repeat 0 0;
}
li.icon_link {
    background: url(../img/icons/menu_link.png) #ffffff no-repeat 0 0;
}
li.icon_discount {
    background: url(../img/icons/menu_discount.png) #ffffff no-repeat 0 0;
}
li.icon_private {
    background: url(../img/icons/menu_private.png) #ffffff no-repeat 0 0;
}
li.icon_campaigns {
    background: url(../img/icons/menu_campaigns.png) #ffffff no-repeat 0 0;
}
li.icon_vcard {
    background: url(../img/icons/menu_vcard.png) #ffffff no-repeat 0 0;
}
li.icon_logout {
    background: url(../img/icons/menu_logout.png) #ffffff no-repeat 0 0;
}

li.icon_price {
    background: url(../img/icons/menu_price.png) #ffffff no-repeat 0 0;
}

li.icon_cats {
    background: url(../img/icons/menu_categories.png) #ffffff no-repeat 0 0;
}

li.icon_products {
    background: url(../img/icons/menu_products.png) #ffffff no-repeat 0 0;
}

li.icon_currencies {
    background: url(../img/icons/menu_currencies.png) #ffffff no-repeat 0 0;
}

li.icon_languages {
    background: url(../img/icons/menu_languages.png) #ffffff no-repeat 0 0;
}

li.icon_config {
    background: url(../img/icons/menu_config.png) #ffffff no-repeat 0 0;
}

li.icon_testimonials {
    background: url(../img/icons/menu_testimonials.png) #ffffff no-repeat 0 0;
}
li.icon_bank {
    background: url(../img/icons/bank.png) #ffffff no-repeat 0 0;
}
li.icon_trackids {
    background: url(../img/icons/menu_trackids.png) #ffffff no-repeat 0 0;
}
li.icon_import {
    background: url(../img/icons/menu_import.png) #ffffff no-repeat 0 0;
}
li.icon_import_reviews {
    background: url(../img/icons/menu_import_reviews.png) #ffffff no-repeat 0 0;
}
li.icon_articles {
    background: url(../img/icons/menu_articles.png) #ffffff no-repeat 0 0;
}