/* page */
#page_dashboard {
    padding: 0px;
    margin: 0px auto;
    position: relative;
    width: 1000px;
}
#page_header {
    width: 100%;
    height: 40px;
    background: url(../img/header.png) #5182b5 repeat-x top;
    border-radius: 0px 0px 10px 10px;
}
#page_header h1 {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 0px #000;
    padding: 8px 0px 0px 20px;
}
#page_wrapper {
    width: 980px;
    margin: 0px auto;
}
#page_sidebar {
    padding: 5px 10px;
    width: 149px;
}
#page_body {
    font-size: 11px;
    width: 809px;
}
/* header */
#header_wrap1 {
    border: solid #F3F3F3;
    border-width: 0px 1px;
}
#header {
    position: relative;
    font-weight: bold;
    font-size: 11px;
    padding: 8px 10px;
    background: #F7F7F7;
    color: #000;
    border: 1px solid #D9E0E7;
}
#header h1 {
    color: #333;
    margin: 0px;
    font-size: 11px;
    font-weight: bold;
    overflow: hidden;
}
/* footer */
#footer_wrap {
  line-height: 15px;
  padding: 8px 0px 0px;
  text-align: center;
  width: 809px;
}
#footer {
  padding: 10px 0px 0px;
  text-align: center;
  margin: 0px;
}
/* wrappers */
#wrap_between {
    height: 0px;
    overflow: hidden;
}
/* content */
#content {
    padding: 8px 10px;
    border: solid #D9E0E7;
    border-width: 0px 1px 1px;
}
/* go to top */
#stl_left {
    cursor: pointer;
    height: 100%;
}
#stl_bg {
    height: 100%;
    width: 80px;
    padding: 15px;
    opacity: 0.7;
    background-color: #E1E7ED;
}
#stl_text {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#stl_text:hover {
    text-decoration: none;
}