/* style reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
}
table {

}
fieldset, img {
    border: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
body {
    font: 12px/18px Verdana, Helvetica, sans-serif;
    width: 100%;
}
input {
    vertical-align: middle;
}
/* common */
.fixed {
    position: fixed;
}
.fl_l {
    float: left;
}
.fl_r {
    float: right;
}
.ta_l {
    text-align: left;
}
.ta_r {
    text-align: right;
}
.ta_c {
    text-align: center;
}
.clean {
    clear: both;
}
.hidden {
    display: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* system message */
#system_msg {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 5000;
    display: none;
    padding: 7px 10px;
    margin: 20px 20px;
}
.ok {
    background-color: #e8f7ea;
    border: 1px solid #a3d6a5;
    color: #006605;
}
.error {
    background-color: #f7ece8;
    border: 1px solid #d6a3a3;
    color: #660000;
}
.warning {
    background-color: #f7f6e8;
    border: 1px solid #d6d3a3;
    color: #626600;
}
/* Button */
/* Button */
.button_blue, .button_gray, .button_a {
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: inline-block;
    position: relative;
    zoom: 1;
}
.button_blue, .button_gray, .button_a {
    margin: 0px 0px;
}
.button_blue button, .button_gray button, .button_a button {
    border: 1px solid;
    background: none;
    font-size: 12px;
    margin: 0px;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    padding: 4px 14px 4px;
    font-family: Tahoma, Verdana, Arial, Sans-Serif, "Lucida Sans";
    overflow: visible;
}
.button_wide {
    display: block;
    width: 100%;
}
.button_wide button {
    width: 100%;
}
.button_blue {
    border: 1px solid #45688E;
    background: #5D81A7;
}
.button_blue button {
    border-top-color: #789ABF;
    border-bottom-color: #5980A9;
    border-left-color: #5980A9;
    border-right-color: #5980A9;
    color: #FFF;
    text-shadow:0 1px 0 #45688E;
    background: url(../img/button_blue.png) #6181a6 repeat-x top;
    background-position: 0px -16px;
}
.button_blue button:hover, .button_blue button.hover {
    background-position: 0px -8px;
}
.button_blue button:active, .button_blue button.active {
    background: #5e80a5;
    border: 1px solid #5e80a5;
    position:relative;
}
.button_gray {
    border: 1px solid #b3b3b3;
    background: #e0e0e0;
}
.button_gray button {
    border-top-color: #ffffff;
    border-bottom-color: #e5e5e5;
    border-left-color: #e7e7e7;
    border-right-color: #e7e7e7;
    color: #444;
    text-shadow:0 1px 0 #ffffff;
    background: url(../img/button.png) #dddddd repeat-x top;
    background-position: 0px -54px;
}
.button_gray button:hover {
    background-position: 0px -46px;
}
.button_gray button:active {
    background: #dcdcdc;
    border: 1px solid #dcdcdc;
    position:relative;
}

.button_a button{
    border: 2px solid;
    border-radius: 4px;
    border-top-color: #789ABF;
    border-bottom-color: #5980A9;
    border-left-color: #5980A9;
    border-right-color: #5980A9;
    color: #45688E;
}
.button_a button:hover{
    color: #5980A9;
}
.button_a button:active{
    background-color: #d9e7f7;
    border: 1px solid;
}
/* form */
.label {
    padding-bottom: 3px;
}
.labeled {
    padding-bottom: 6px;
}
.label2 {
    padding-bottom: 1px;
}
.labeled2 {
    padding-bottom: 2px;
}
.submit {
    position: absolute;
    color: #FFF;
    border: 0;
    padding: 0;
    margin: 0;
    background: #FFF;
    left: -8000px;
    top: -8000px;
}
input, textarea {
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 2px 8px;;
    margin: 0px;
    font-size: 11px;
    color: #696969;
}
input {
    height: 18px;
}
input.text_tiny, textarea.text_tiny {
    width: 45px;
}
input.text_small, textarea.text_small {
    width: 100px;
}
input.text, textarea.text {
    width: 250px;
}
input.text_big, textarea.text_big {
    width: 600px;
}
input.border_green {
    border: 1px solid #00c200;
    background: url(../img/icons/accept.png) no-repeat right center;
}
input.border_red {
    border: 1px solid #c20000;
    background: url(../img/icons/cancel.png) no-repeat right center;
}
input:disabled {
    background: #f5f5f5;
    color: #969696;
}
.hint_required {
    color: #c20000;
    font-size: 11px;
}
.hint_required_one {
    color: #626600;
    font-size: 11px;
}
p.hint_required {
    padding: 3px 0px;
}
/* legend */
.legend {
    margin: 10px 0px;
    background: #f7f7f7;
    border: 1px solid #d9e0e7;
    padding: 5px 10px;
}
/* link */
a {
    color: #2B587A;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
/* loading */
.global_loading {
    width: 100%;
    height: 20px;
    text-align: center;
}
/* support menu */
ul.support_menu {
    margin: 0px 5px;
}
ul.support_menu li {
    padding: 0px 0px 0px 22px;
}
li.icon_email {
    background: url(../img/icons/menu_email.png) #ffffff no-repeat 0 0;
}
li.icon_icq {
    background: url(../img/icons/menu_icq.png) #ffffff no-repeat 0 0;
}
li.icon_skype {
    background: url(../img/icons/menu_skype.png) #ffffff no-repeat 0 0;
}
li.icon_jabber {
    background: url(../img/icons/menu_jabber.png) #ffffff no-repeat 0 0;
}
.nowrap{
    white-space: nowrap;
}
.calendar_square {
    display: inline-block;
    width: 10px;
    height: 10px;
}
.calendar_nav li {
    display: inline-block;
    margin-right: 10px;
    min-width: 120px;
    height: 25px;
    background: #edf1f5;
    border: 1px solid #d9e0e7;
    text-align: center;
    padding: 5px 0px 0px 0px;
}
.calendar_nav li.selected {
    font-weight: bold;
}

input.order{
    text-align: center;
    width: 30px;
    font-size: 10px;
}