.flags{display:inline-block;height:11px;width:16px;background:url(../img/flags-map.png) no-repeat 0 0}
.flags.flags-aa{background-position:0 0}
.flags.flags-ab{background-position:0 -11px}
.flags.flags-ad{background-position:0 -33px}
.flags.flags-ae{background-position:0 -44px}
.flags.flags-af{background-position:0 -55px}
.flags.flags-ag{background-position:0 -66px}
.flags.flags-ai{background-position:0 -88px}
.flags.flags-al{background-position:0 -121px}
.flags.flags-am{background-position:0 -132px}
.flags.flags-an{background-position:0 -143px}
.flags.flags-ao{background-position:0 -154px}
.flags.flags-aq{background-position:0 -176px}
.flags.flags-ar{background-position:0 -187px}
.flags.flags-as{background-position:0 -198px}
.flags.flags-at{background-position:0 -209px}
.flags.flags-au{background-position:0 -220px}
.flags.flags-aw{background-position:0 -242px}
.flags.flags-ax{background-position:0 -253px}
.flags.flags-az{background-position:0 -275px}
.flags.flags-ba{background-position:-16px 0}
.flags.flags-bb{background-position:-16px -11px}
.flags.flags-bd{background-position:-16px -33px}
.flags.flags-be{background-position:-16px -44px}
.flags.flags-bf{background-position:-16px -55px}
.flags.flags-bg{background-position:-16px -66px}
.flags.flags-bh{background-position:-16px -77px}
.flags.flags-bi{background-position:-16px -88px}
.flags.flags-bj{background-position:-16px -99px}
.flags.flags-bm{background-position:-16px -132px}
.flags.flags-bn{background-position:-16px -143px}
.flags.flags-bo{background-position:-16px -154px}
.flags.flags-br{background-position:-16px -187px}
.flags.flags-bs{background-position:-16px -198px}
.flags.flags-bt{background-position:-16px -209px}
.flags.flags-bv{background-position:-16px -231px}
.flags.flags-bw{background-position:-16px -242px}
.flags.flags-by{background-position:-16px -264px}
.flags.flags-bz{background-position:-16px -275px}
.flags.flags-ca{background-position:-32px 0}
.flags.flags-cc{background-position:-32px -22px}
.flags.flags-cd{background-position:-32px -33px}
.flags.flags-cf{background-position:-32px -55px}
.flags.flags-cg{background-position:-32px -66px}
.flags.flags-ch{background-position:-32px -77px}
.flags.flags-ci{background-position:-32px -88px}
.flags.flags-ck{background-position:-32px -110px}
.flags.flags-cl{background-position:-32px -121px}
.flags.flags-cm{background-position:-32px -132px}
.flags.flags-cn{background-position:-32px -143px}
.flags.flags-co{background-position:-32px -154px}
.flags.flags-cr{background-position:-32px -187px}
.flags.flags-cu{background-position:-32px -220px}
.flags.flags-cv{background-position:-32px -231px}
.flags.flags-cx{background-position:-32px -253px}
.flags.flags-cy{background-position:-32px -264px}
.flags.flags-cz{background-position:-32px -275px}
.flags.flags-de{background-position:-48px -44px}
.flags.flags-dj{background-position:-48px -99px}
.flags.flags-dk{background-position:-48px -110px}
.flags.flags-dm{background-position:-48px -132px}
.flags.flags-do{background-position:-48px -154px}
.flags.flags-dz{background-position:-48px -275px}
.flags.flags-ec{background-position:-64px -22px}
.flags.flags-ee{background-position:-64px -44px}
.flags.flags-eg{background-position:-64px -66px}
.flags.flags-eh{background-position:-64px -77px}
.flags.flags-er{background-position:-64px -187px}
.flags.flags-es{background-position:-64px -198px}
.flags.flags-et{background-position:-64px -209px}
.flags.flags-eu{background-position:-64px -220px}
.flags.flags-fi{background-position:-80px -88px}
.flags.flags-fj{background-position:-80px -99px}
.flags.flags-fk{background-position:-80px -110px}
.flags.flags-fm{background-position:-80px -132px}
.flags.flags-fo{background-position:-80px -154px}
.flags.flags-fr{background-position:-80px -187px}
.flags.flags-ga{background-position:-96px 0}
.flags.flags-gb{background-position:-96px -11px}
.flags.flags-gd{background-position:-96px -33px}
.flags.flags-ge{background-position:-96px -44px}
.flags.flags-gf{background-position:-96px -55px}
.flags.flags-gh{background-position:-96px -77px}
.flags.flags-gi{background-position:-96px -88px}
.flags.flags-gl{background-position:-96px -121px}
.flags.flags-gm{background-position:-96px -132px}
.flags.flags-gn{background-position:-96px -143px}
.flags.flags-gp{background-position:-96px -165px}
.flags.flags-gq{background-position:-96px -176px}
.flags.flags-gr{background-position:-96px -187px}
.flags.flags-gs{background-position:-96px -198px}
.flags.flags-gt{background-position:-96px -209px}
.flags.flags-gu{background-position:-96px -220px}
.flags.flags-gw{background-position:-96px -242px}
.flags.flags-gy{background-position:-96px -264px}
.flags.flags-hk{background-position:-112px -110px}
.flags.flags-hm{background-position:-112px -132px}
.flags.flags-hn{background-position:-112px -143px}
.flags.flags-hr{background-position:-112px -187px}
.flags.flags-ht{background-position:-112px -209px}
.flags.flags-hu{background-position:-112px -220px}
.flags.flags-id{background-position:-128px -33px}
.flags.flags-ie{background-position:-128px -44px}
.flags.flags-il{background-position:-128px -121px}
.flags.flags-in{background-position:-128px -143px}
.flags.flags-io{background-position:-128px -154px}
.flags.flags-iq{background-position:-128px -176px}
.flags.flags-ir{background-position:-128px -187px}
.flags.flags-is{background-position:-128px -198px}
.flags.flags-it{background-position:-128px -209px}
.flags.flags-jm{background-position:-144px -132px}
.flags.flags-jo{background-position:-144px -154px}
.flags.flags-jp{background-position:-144px -165px}
.flags.flags-ke{background-position:-160px -44px}
.flags.flags-kg{background-position:-160px -66px}
.flags.flags-kh{background-position:-160px -77px}
.flags.flags-ki{background-position:-160px -88px}
.flags.flags-km{background-position:-160px -132px}
.flags.flags-kn{background-position:-160px -143px}
.flags.flags-kp{background-position:-160px -165px}
.flags.flags-kr{background-position:-160px -187px}
.flags.flags-kw{background-position:-160px -242px}
.flags.flags-ky{background-position:-160px -264px}
.flags.flags-kz{background-position:-160px -275px}
.flags.flags-la{background-position:-176px 0}
.flags.flags-lb{background-position:-176px -11px}
.flags.flags-lc{background-position:-176px -22px}
.flags.flags-li{background-position:-176px -88px}
.flags.flags-lk{background-position:-176px -110px}
.flags.flags-lr{background-position:-176px -187px}
.flags.flags-ls{background-position:-176px -198px}
.flags.flags-lt{background-position:-176px -209px}
.flags.flags-lu{background-position:-176px -220px}
.flags.flags-lv{background-position:-176px -231px}
.flags.flags-ly{background-position:-176px -264px}
.flags.flags-ma{background-position:-192px 0}
.flags.flags-mc{background-position:-192px -22px}
.flags.flags-md{background-position:-192px -33px}
.flags.flags-me{background-position:-192px -44px}
.flags.flags-mg{background-position:-192px -66px}
.flags.flags-mh{background-position:-192px -77px}
.flags.flags-mk{background-position:-192px -110px}
.flags.flags-ml{background-position:-192px -121px}
.flags.flags-mm{background-position:-192px -132px}
.flags.flags-mn{background-position:-192px -143px}
.flags.flags-mo{background-position:-192px -154px}
.flags.flags-mp{background-position:-192px -165px}
.flags.flags-mq{background-position:-192px -176px}
.flags.flags-mr{background-position:-192px -187px}
.flags.flags-ms{background-position:-192px -198px}
.flags.flags-mt{background-position:-192px -209px}
.flags.flags-mu{background-position:-192px -220px}
.flags.flags-mv{background-position:-192px -231px}
.flags.flags-mw{background-position:-192px -242px}
.flags.flags-mx{background-position:-192px -253px}
.flags.flags-my{background-position:-192px -264px}
.flags.flags-mz{background-position:-192px -275px}
.flags.flags-na{background-position:-208px 0}
.flags.flags-nc{background-position:-208px -22px}
.flags.flags-ne{background-position:-208px -44px}
.flags.flags-nf{background-position:-208px -55px}
.flags.flags-ng{background-position:-208px -66px}
.flags.flags-ni{background-position:-208px -88px}
.flags.flags-nl{background-position:-208px -121px}
.flags.flags-no{background-position:-208px -154px}
.flags.flags-np{background-position:-208px -165px}
.flags.flags-nr{background-position:-208px -187px}
.flags.flags-nu{background-position:-208px -220px}
.flags.flags-nz{background-position:-208px -275px}
.flags.flags-om{background-position:-224px -132px}
.flags.flags-pa{background-position:-240px 0}
.flags.flags-pe{background-position:-240px -44px}
.flags.flags-pf{background-position:-240px -55px}
.flags.flags-pg{background-position:-240px -66px}
.flags.flags-ph{background-position:-240px -77px}
.flags.flags-pk{background-position:-240px -110px}
.flags.flags-pl{background-position:-240px -121px}
.flags.flags-pm{background-position:-240px -132px}
.flags.flags-pn{background-position:-240px -143px}
.flags.flags-pr{background-position:-240px -187px}
.flags.flags-ps{background-position:-240px -198px}
.flags.flags-pt{background-position:-240px -209px}
.flags.flags-pw{background-position:-240px -242px}
.flags.flags-py{background-position:-240px -264px}
.flags.flags-qa{background-position:-256px 0}
.flags.flags-re{background-position:-272px -44px}
.flags.flags-ro{background-position:-272px -154px}
.flags.flags-rs{background-position:-272px -198px}
.flags.flags-ru{background-position:-272px -220px}
.flags.flags-rw{background-position:-272px -242px}
.flags.flags-sa{background-position:-288px 0}
.flags.flags-sb{background-position:-288px -11px}
.flags.flags-sc{background-position:-288px -22px}
.flags.flags-sd{background-position:-288px -33px}
.flags.flags-se{background-position:-288px -44px}
.flags.flags-sg{background-position:-288px -66px}
.flags.flags-sh{background-position:-288px -77px}
.flags.flags-si{background-position:-288px -88px}
.flags.flags-sj{background-position:-288px -99px}
.flags.flags-sk{background-position:-288px -110px}
.flags.flags-sl{background-position:-288px -121px}
.flags.flags-sm{background-position:-288px -132px}
.flags.flags-sn{background-position:-288px -143px}
.flags.flags-so{background-position:-288px -154px}
.flags.flags-sr{background-position:-288px -187px}
.flags.flags-ss{background-position:-288px -198px}
.flags.flags-st{background-position:-288px -209px}
.flags.flags-sv{background-position:-288px -231px}
.flags.flags-sy{background-position:-288px -264px}
.flags.flags-sz{background-position:-288px -275px}
.flags.flags-tc{background-position:-304px -22px}
.flags.flags-td{background-position:-304px -33px}
.flags.flags-tf{background-position:-304px -55px}
.flags.flags-tg{background-position:-304px -66px}
.flags.flags-th{background-position:-304px -77px}
.flags.flags-tj{background-position:-304px -99px}
.flags.flags-tk{background-position:-304px -110px}
.flags.flags-tl{background-position:-304px -121px}
.flags.flags-tm{background-position:-304px -132px}
.flags.flags-tn{background-position:-304px -143px}
.flags.flags-to{background-position:-304px -154px}
.flags.flags-tr{background-position:-304px -187px}
.flags.flags-tt{background-position:-304px -209px}
.flags.flags-tv{background-position:-304px -231px}
.flags.flags-tw{background-position:-304px -242px}
.flags.flags-tz{background-position:-304px -275px}
.flags.flags-ua{background-position:-320px 0}
.flags.flags-ug{background-position:-320px -66px}
.flags.flags-uk{background-position:-320px -110px}
.flags.flags-um{background-position:-320px -132px}
.flags.flags-us{background-position:-320px -198px}
.flags.flags-uy{background-position:-320px -264px}
.flags.flags-uz{background-position:-320px -275px}
.flags.flags-va{background-position:-336px 0}
.flags.flags-vc{background-position:-336px -22px}
.flags.flags-ve{background-position:-336px -44px}
.flags.flags-vg{background-position:-336px -66px}
.flags.flags-vi{background-position:-336px -88px}
.flags.flags-vn{background-position:-336px -143px}
.flags.flags-vu{background-position:-336px -220px}
.flags.flags-wf{background-position:-352px -55px}
.flags.flags-ws{background-position:-352px -198px}
.flags.flags-xx{background-position:-368px -253px}
.flags.flags-ye{background-position:-384px -44px}
.flags.flags-yt{background-position:-384px -209px}
.flags.flags-za{background-position:-400px 0}
.flags.flags-zm{background-position:-400px -132px}
.flags.flags-zw{background-position:-400px -242px}
.flags.flags-zz{background-position:-400px -275px}