/* icons */
a.icon {
    width: 16px;
    height: 16px;
    margin: 0px;
    text-indent: -300em;
    display: inline-block;
}
a.i_download {
    background: url(../img/icons/download.png) no-repeat 0 0;
}
a.i_add {
    background: url(../img/icons/add.png) no-repeat 0 0;
}
a.i_edit_super {
    background: url(../img/icons/edit.png) no-repeat 0 0;
}
a.i_edit {
    background: url(../img/icons/edit_super.png) no-repeat 0 0;
}
a.i_reviews {
    background: url(../img/icons/reviews.png) no-repeat 0 0;
}
a.i_open {
    background: url(../img/icons/open.png) no-repeat 0 0;
}
a.i_delete {
    background: url(../img/icons/delete.png) no-repeat 0 0;
}
a.i_delete_super {
    background: url(../img/icons/delete_super.png) no-repeat 0 0;
}
a.i_accept {
    background: url(../img/icons/accept.png) no-repeat 0 0;
}
a.i_cancel {
    background: url(../img/icons/cancel.png) no-repeat 0 0;
}
a.i_refresh {
    background: url(../img/icons/refresh.png) no-repeat 0 0;
}
a.i_hand {
    background: url(../img/icons/hand.png) no-repeat 0 0;
}
a.i_hand_point {
    background: url(../img/icons/hand_point.png) no-repeat 0 0;
}
a.i_hand_point_090 {
    background: url(../img/icons/hand_point_090.png) no-repeat 0 0;
}
a.i_hand_point_180 {
    background: url(../img/icons/hand_point_180.png) no-repeat 0 0;
}
a.i_hand_point_270 {
    background: url(../img/icons/hand_point_270.png) no-repeat 0 0;
}
a.i_hand_property {
    background: url(../img/icons/hand_property.png) no-repeat 0 0;
}
a.i_bullet_green {
    background: url(../img/icons/bullet_green.png) no-repeat 0 0;
}
a.i_bullet_orange {
    background: url(../img/icons/bullet_orange.png) no-repeat 0 0;
}
a.i_bullet_red {
    background: url(../img/icons/bullet_red.png) no-repeat 0 0;
}
a.i_status_accept {
    background: url(../img/icons/status_accept.png) no-repeat 0 0;
}
a.i_status_decline {
    background: url(../img/icons/status_decline.png) no-repeat 0 0;
}
a.i_status_wait {
    background: url(../img/icons/status_wait.png) no-repeat 0 0;
}