#wrapper {
    width: 600px;
    margin: 0px auto;
}
#header {
    height: 80px;
    background-position: center 20px;
}
#content {
    
}
#footer, #links {
    height: 20px;
    font-size: 11px;
    border-top: 1px solid #e9e9e9;
    margin-top: 10px;
    padding: 10px 0px 0px 0px;
}

.labeled span.label{
	width: 120px;
    display: inline-block;
    text-align: right;
}

.labeled .text{
	width: 450px;
}

.indexlogo{
	text-align: center;
	margin: 15px 0;
}

.form .button_wide{
	margin-top: 20px;
	/*width: 450px;*/
	text-align: right;
}