#wrapper {
    width: 265px;
    margin: 0px auto;
}
#header {
    height: 80px;
    /*background: url(/img/index_logo.gif) no-repeat center center;*/
    background-position: center 20px;
}
#content {
    
}
#footer, #links {
    height: 20px;
    font-size: 11px;
    border-top: 1px solid #e9e9e9;
    margin-top: 10px;
    padding: 10px 0px 0px 0px;
}