.mob-rban,
.bunner-mobile,
.menu-mobile{
	display: none;
}
#col-1 .side-section ol li a:hover,
.side-section a.active{
	background: #fff;
	text-decoration: none;
}
#col-1 .side-section ol{
	padding: 0;
}
#col-1 .side-section ol li a{
	color: #4a4a4a;
    display: block;
    padding: 4px 5px 7px 5px;
	width: 99%;
}
#col-1 .side-section ol li{
	border-top: 1px #c1c1c1 solid;
    margin-top: -1px;
}
#cart .orderExtra .submit{
	background: linear-gradient(1turn, #42a3fb, #3b94e5, #83c9ff);
	outline: none;
    border-radius: 3px;
    border-bottom: 1px solid #266cb7;
    width: fit-content;
    padding: 0 15px;
    height: auto;
	line-height: 19px;
	transition: all 0.3s;
}
#cart .orderExtra .submit:hover{
	background: linear-gradient( 1turn , #4265fb, #3b5ce5, #83a0ff);
	border-bottom: 1px solid #263cb7;
}
.captcha-line{
	line-height: 18px;
	font-size: 12px;
}
@media (max-width: 999px) {
	.captcha-line{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.captcha-line__title{
		padding: 10px 0 7px;
	}
	#mainWrap .contact .title_prod{
		margin: 0;
		padding: 15px 0 5px;
		line-height: normal;
	}
	#contacts-form, #contacts-form *{
		box-sizing: border-box;
	}
	#mainWrap .contact #contacts-form .line label{
		display: block;
	    width: 100%;
	    float: none;
	    line-height: normal;
	    padding: 0 0 7px;
	}
	#mainWrap .contact #contacts-form .line label[for="contact_captcha"]{
		display: none;
	}
	#mainWrap .contact #contacts-form .line textarea,
	#mainWrap .contact #contacts-form .line input{
		display: block;
	    width: 100%;
	    float: none;
	    height: 39px;
	    padding: 10px 10px;
	    background: #FFFFFF;
		border: 1px solid #EBEBEB;
		border-radius: 4px;
		-webkit-appearance: none;
		transition: all 0.5s;
		font-size: 14px;
    	line-height: normal;
	}
	#mainWrap .contact #contacts-form .line textarea:focus,
	#mainWrap .contact #contacts-form .line input:focus{
		outline: none;
		border-color: #6dbbff;
	}
	#mainWrap .contact #contacts-form .line textarea{
		max-width: 100%;
		height: 115px;
	}
	#mainWrap .contact #contacts-form .line{
		height: auto;
	}
	#mainWrap .contact #contacts-form .line input#Contacts_code{
		width: 153px;
		margin-right: 10px;
	}
	#contacts-form .btn{
		background: linear-gradient(180deg, #81C7FE 1.25%, #42A2F7 36.98%, #3B94E5 55.21%);
		box-shadow: 0px 2px 1px #266CB7;
	    height: 40px;
	    max-width: 400px;
	    width: 100%;
	    line-height: normal;
	    background-size: contain;
	    border-radius: 4px;
	    display: flex;
	    align-items: center;
	    padding: 0 22px;
	    text-indent: 0;
	    margin: 13px 0 0;
	    position: relative;
	    align-items: center;
    	justify-content: space-between;
	}
	#contacts-form .btn:after{
		content: '';
		background: url(../img-europe/contact-arr.svg) no-repeat center;
		display: block;
		width: 10px;
		height: 8px;
	}
	.mob-rban{
		display: flex;
	    align-items: center;
	    justify-content: center;
	    padding: 5px 0 0;
	}
	html {
		-webkit-text-size-adjust: none;
	}
	body {
		min-width: 300px;
	}
	body.modal-open {
		overflow: hidden;
		min-width: 300px;
	}
	#headerWrap {
		height: 37px;
	}
	#col-2 #orderform #login_info .line input, #col-2 #orderform #shipping_info .line input, #col-2 #orderform #billing_info .line input{
		font-size: 16px;
	}
	#header {
		display: none;
	}
	#headNav {
		display: none;
	}
	#header-mobile.headNav {
		width: 100%;
	}
	.headNav ul {
		margin-left: 0;
	}
	.headNav ul li {
		font-size: 70%;
	}
	.headNav ul li a {
		padding: 0 5px;
		font-size: 120%;
	}
	#mainWrap {
		width: auto;
		margin-top: 37px
	}
	#col-1 {
		display: none;
	}
	#col-2 {
		float: none;
		padding-right: 0;
		width: auto;
		margin-top: 0;
	}
	#col-3 {
		float: none;
		width: auto;
		margin-top: 0;
	}
	
	#header, #mainWrap, #headNav, #footer {
		width: auto;
		
	}
	
	#footer .h6 {
		width: auto;
	}
	#col-2 img {max-width: 100%;}
	#col-2 #topProducts {
		width: auto;
		margin-left: 0;
	}
	#col-2 #topProducts {
		text-align: center;
		margin: 0 -10px;
	}
	#col-2 #topProducts .product {
		width: 182px;
		float: none;
		display: inline-block;
		height: 136px;
		background-size: contain;
		background-position: center top;
		text-align: center;
		margin-left: 1px;
		margin-right: 2px;
		vertical-align: top;
	}
	#col-2 #topProducts .product span {
		overflow: hidden;
	}
	#col-2 #topProducts .product img:first-child {
		
	}
	#col-2 #topProducts .product img {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#topProducts {
		width: auto;
		margin-left: 0;
	}
	
	#col-2 #products .col-2-menge{
		width: 100%;
	}
	
	.mobile-menu {
		margin-top: 37px;
		background: #f1f1f1;
	}
	.mobile-menu .modal-content {
		padding: 10px 40px 10px 20px;
		line-height: 120%;
	}
	.mobile-menu .modal-content p {
		padding: 10px;
	}
	.mobile-menu ul, .mobile-menu ol {
		padding: 10px 0 0 0;
		margin: 0;
	}
	.mobile-menu ul li, .mobile-menu ol li {
		padding-bottom: 5px;
		padding-left: 10px;
	}
	.mobile-menu ul li a, .mobile-menu ol li a {
		font-size: 13px;
		color: #4a4a4a;
	}
	.modal-content.big .mobile-menu ul li a, .modal-content.big .mobile-menu ol li a {
		font-size: 15px;
	}
	.mobile-menu ul li a:hover, .mobile-menu ol li a:hover {
		text-decoration: underline;
	}
	.mobile-menu .section {
		margin-bottom: 10px;
	}
	.mobile-menu b {
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 162, 38, 1) 0%, rgba(255, 186, 41, 1) 100%) repeat scroll 0 0;
		display: block;
		font-family: "Trebuchet MS",sans-serif;
		font-size: 1.06em;
		font-weight: bold;
		line-height: 19px;
		padding: 6px 5px 4px 14px;
		position: relative;
	}
	
	.modal-open .modal {
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
	}
	.modal {
		bottom: 0;
		display: none;
		left: 0;
		outline: 0 none;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1050;
	}
	.modal .close.img {
		position: absolute;
		top: 11px;
		right: 11px;
		width: 25px;
		height: 25px;
		text-indent: -9999px;
		overflow: hidden;
		display: block;
		background: url(../img-europe/buttons/icon-close.png) no-repeat center center;
	}
	.modal-content {
		position: relative;
	}

	#headerWrap {
		position: fixed;
		width: 100%;
		top: 0;
		z-index:2;
		border-bottom: 2px solid white;
	}
	.box_txt .txt_commentsbox .author_box {
		width: 100%;
	}
	#col-2, #col-3 {
		padding: 10px 10px;
	}
	#cart-block {
		display: none;
	}
	#col-3 .rban {
		display: none;
	}
	.section-x1 {
		float: left;
		width: 48%;
		margin-right: 2%;
	}
	.section-x1 img {
		max-width: 100%;
	}
	.section-x2 {
		float: left;
		width: 48%;
		margin-left: 2%;
	}
	.section-x3 {
		float: right;
		width: 48%;
		margin-left: 2%;
	}
	
	#col-3 .section.section-x1 .h3, #col-3 .section.section-x2 .h3, #col-3 .section.section-x3 .h3 {
		background: none;
		border-bottom: 0;
	}
	#col-3 .section img {
		max-width: 100%;
	}
	#col-3 .narrow .h3 {
		font-size: 15px;
	}
	
	#cart .orderExtra {
		background: none;
		border: 4px dashed red;
		width: 100%;
		height: auto;
	}
	#cart .supersize {
		padding: 10px;
	}
	#cart .orderExtra .h4, #cart .orderExtra .h5 , #cart .orderExtra .submit {
		float: none;
		display: inline;
		line-height: 120%;
	}
	#cart .orderExtra .submit {
		display: inline-block;
	}
	#col-2 #orderform {
		width: auto;
	}
	.mailblock table {
		width: 90%;
		margin-left: 10%;
	}
	.domtab {
		width: auto;
	}
	
	#col-2 #orderform #shipping_info , #col-2 #orderform #billing_info{
		width:100%;
		margin: 0;
		float:none;
		border:0 solid #000;
	}

	#col-2 #orderform #billing_info .line.billing_as_shipping{
	    height:55px;
	}
	#col-2 #orderform #billing_info .line label#lbl_billing_as_shipping{
	    /*width:260px;*/
	}
	#col-2 #orderform #shipping_info .line label, #col-2 #orderform #billing_info .line label {
		width: 125px;
	}
	#col-2 #orderform .line label[generated].error{
	    position: absolute;
	    left: -1000px;
	}
	#col-2 #orderform #shipping_info .line input, #col-2 #orderform #billing_info .line input {
	    /*width: 165px;*/
	    /*height: 16px;
	    padding: 2px 4px;
	    font-size: 0.9em;*/
	}

	#col-2 #orderform #shipping_info .line.email{
	    padding: 5px 0;
	}

	#col-2 #orderform #cc_info{width:420px;}

	#col-2 #orderform #cc_info .line label{
		width: 145px;
	}
	
	#div-orderpage-levels ul.orderpage-levels {
        width:auto;    
    }   

    table.pm-options td.pm-first-td{
    	display: none;
    }
    table.pm-options td.pm-second-td{
    	text-align: left;
    	padding-left: 70px;
    }	
	#col-2 p.invoice{
	    overflow: hidden;
	}

    #col-2 p.invoice label {
	    width:120px; 
	    float: left; 
	    border-right: none;
	}

	#col-2 p.invoice span{
	    float: left;
	    padding: 5px;
	    /*width: 200px;*/
        border-left: 1px solid #A8A8A8;
	}
	
	/* client pge */
	#col-2-3 {
		width: 98%;
		padding: 10px 1%;
	}
	#col-2-3 img {
		max-width: 100%;
	}
	#col-2-3 iframe {
		max-width: 100%;
		max-height: 200px;
	}
	.clientmenusection {
		font-size: 16px;
	}
	.clientmenusection ul {
		width: auto;
	}
	.clientmenusection b {
		width: auto;
	}
	.cart_btn_first, .cart_btn_second {
		float: none !important;
		margin: 10px auto;
		width: 200px;
		font-size: 12px;
	}
	/**/
	.mobile-langs img {
        margin-right: 6px;
        margin-bottom: 2px;
        vertical-align: middle;
    }
    .mobile-langs ul li {
        display: inline-block;
        margin-bottom: 5px;
        width: 160px;
    }
    .mobile-langs ul li a {
        font-size: 1.06em;
    }

    .mobile-currency ul li {
        display: inline-block;
        padding: 4px 5px;
        margin: 0 10px 10px 0;
        font-size: 1.06em;
        width: 160px;
    }
    .mobile-currency ul li a {
        font-size: 1.06em;
    }
    .mobile-currency a span {
        font-weight: bold;
        padding-bottom: 5px;
    }


    /*ml-2*/
    .affiliat_img{
    	display: none;
    }

    #review-form ul li button.button-css-blue{
    	float: none;
    }
	ul.commentsbox li.captcha_li input{
		/*font-size: 21px;*/
	}
	
	/* menu */
	
	#cart .orderExtra .submit{
		width: 100px;
		height: 19px;
		padding: 0;
		background-repeat: repeat-x;
		background-size: cover;
		line-height: 19px;
		border-radius: 4px;
	}
	.bunner-mobile{
		display: block;
		max-width: 580px;
		width: 100%;
		margin: 0 auto;
	}
	.omenu-top{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 12px;
	}
	.a-curr{
		position: relative;
	}
	.a-curr__item{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #151515;
		background: #FFFFFF;
		border: 1px solid #EBEBEB;
		border-radius: 4px;
		height: 40px;
		padding: 0 12px;
		width: 96px;
	}
	.a-curr__item span{
		display: inline-block;
		padding-right: 5px;
	}
	.cur-select,
	.lang-select{
		position: absolute;
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		display: block;
		opacity: 0;
		outline: none;
	}
	.omenu-langs{
		position: relative;
		cursor: pointer;
		width: calc(100% - 96px - 8px);
	}
	.omenu-langs__item{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #151515;
		background: #FFFFFF;
		border: 1px solid #EBEBEB;
		border-radius: 4px;
		height: 40px;
		padding: 0 12px;
	}
	.omenu-langs__item span{
		padding-left: 8px;
	}
	.dop ul.user{
		padding: 0;
		border-radius: 4px 4px;
		margin: 12px 0 0;
		overflow: hidden;
		border: 1px solid #EBEBEB;
		background: #FFFFFF;
	}
	.product-mobile__item.last ul{
		display: none;
	}
	.dop ul.user li a{
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #151515;
		display: flex;
		align-items: center;
		min-height: 48px;
		border-bottom: 1px solid #EBEBEB;
	}
	.dop ul.user li a:before{
		content: '';
		display: block;
		width: 24px;
		height: 24px;
		margin-right: 12px;
	}
	.dop ul.user li:first-child a:before{
		background: url(../img-europe/menu/m1.svg) no-repeat center;
	}
	.dop ul.user li:nth-child(2) a:before{
		background: url(../img-europe/menu/m2.svg) no-repeat center;
	}
	.dop ul.user li:nth-child(3) a:before{
		background: url(../img-europe/menu/m3.svg) no-repeat center;
	}
	.dop ul.user li:nth-child(4) a:before{
		background: url(../img-europe/menu/m4.svg) no-repeat center;
	}
	.dop ul.user li:nth-child(5) a:before{
		background: url(../img-europe/menu/m5.svg) no-repeat center;
	}
	.dop ul.user li:last-child a{
		border: none;
	}
	.dop ul{
		padding: 5px 0;
	}
	.product-mobile__item ul li a{
		display: block;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #444444;
		padding: 3px 12px;
	}
	.product-mobile__item:not(.dop){
		background: #FFFFFF;
		border: 1px solid #EBEBEB;
		border-radius: 4px 4px;
		margin: 0 0 12px;
	}
	.product-mobile__title{
		background: linear-gradient(180deg, #F39B41 0%, #FBB033 100%);
		border-radius: 4px 4px 0px 0px;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
		color: #151515;
		padding: 6px 12px;
		display: block;
		margin: -1px -1px 0px -1px;
	}
	.product-mobile__item.last .product-mobile__title{
		cursor: pointer;
		position: relative;
		border-radius: 4px;
	}
	.product-mobile__item.last .product-mobile__title.active{
		border-radius: 4px 4px 0px 0px;
	}
	.product-mobile__item.last .product-mobile__title:after{
		content: '';
		display: block;
		position: absolute;
		right: 10px;
		width: 20px;
		height: 100%;
		top: 0;
		background: url(../img-europe/menu/down.svg) no-repeat center;
	}
	.product-mobile__item.last .product-mobile__title.active:after{
		transform: rotate(180deg);
	}
	.omenu{
		background: #F7F7F7;
		padding: 12px 10px 30px;
		overflow: hidden;
		overflow-y: auto;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s;
	}
	.open-m .omenu{
		visibility: visible;
		opacity: 1;
		position: relative;
	}
	#col-2 #topProducts .h3{
		line-height: normal;
		padding: 10px 10px;
	}
	.caroufredsel_wrapper{
		display: none!important;
	}
	
	.item-cart__row{
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
		color: #151515;
		text-align: center;
	}
	.item-cart{
		background: #F7F7F7;
		padding: 12px;
		display: flex;
		flex-direction: column;
		transition: opacity 0.3s;
		visibility: hidden;
		opacity: 0;
		position: absolute;
	}
	.open-cart .item-cart{
		visibility: visible;
		opacity: 1;
		position: relative;
	}
	.cart-mobile__title{
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #151515;
		padding-left: 8px;
	}
	.cart-mobile{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	.cart-mobile__icon{
		background: url(../img-europe/menu/cart.svg) no-repeat center;
		width: 24px;
		height: 24px;
		display: block;
		position: relative;
	}
	.cart-mobile__icon span{
		position: absolute;
		right: -6px;
		top: -3px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: #FFBD40;
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 10px;
		line-height: 16px;
		color: #151515;
	}
	.menu-mobile{
		z-index: 9999;
		position: fixed;
		width: 100%;
		top: 0;
		display: block;
		box-sizing: border-box;
		height: 40px;
		overflow: hidden;
	}
	.open-cart .menu-mobile,
	.open-m .menu-mobile{
		height: auto;
		max-height: 100%;
	}
	.open-m{
		overflow: hidden;
	}
	.open-m .menu-mobile{
		overflow-y: auto;
	}
	.menu-mobile *{
		box-sizing: border-box;
	}
	.mob-m__btn{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		cursor: pointer;
	}
	.mob-m__title{
		font-family: Trebuchet MS;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 24px;
		color: #151515;
		padding-left: 5px;
		transition: all 0.3s;
	}
	.open-m .mob-m__title{
		opacity: 0;
	}
	#headerWrap{
		display: none;
	}
	.mob-m{
		background: #86c6ff url(../img-europe/menu/bg-menu.png) repeat-x;
		width: 100%;
		height: 40px;
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 10px;
	}
	.mob-m button {
		width: 18px;
		height: 40px;
		margin: 0;
		border: 0px;
		background: transparent;
		left: 20px;
		top: 0px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		outline: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
	}
	.mob-m button span {
		display: block;
		height: 2px;
		border-radius: 2px;
		width: 18px;
		background: black;
		border-radius: 3px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		margin-bottom: 3px;
	}
	.mob-m button span:nth-child(3) {
		margin-bottom: 0;
		width: 9px;
	}
	.mob-m button.openm span:nth-child(1) {
		transform: rotate(45deg) translateY(-2px);
		top: 50%;
		left: 0;
	}
	.mob-m button.openm span:nth-child(2) {
		width: 0%;
		opacity: 0;
	}
	.mob-m button.openm span:nth-child(3) {
		transform: rotate(-45deg) translateY(-2px);
		top: 50%;
		left: 3px;
		width: 18px;
	}
	.over_bg {
		z-index: 999;
		position: fixed;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		right: 0;
		top: 0;
		display: block;
		left: 0;
	}
	.open-m .mob-m button {
		z-index: 9999;
	}
	.open-m .mob-m button span {
		position: absolute;
	}
}

@media screen and (min-width:300px) and (max-width:562px) {
	ul.commentsbox li.li_radio fieldset div.bx_form{
	    padding: 0 5px;
        text-align: left;
	}

	ul.commentsbox li.li_radio fieldset, ul.commentsbox li.form_first fieldset {
		width: 400px;
	}
	ul.commentsbox li textarea{
		width: 400px;
		padding: 5px 0;
	}

	ul.commentsbox li.captcha_li input{
		margin: 10px 0;
	}
	ul.commentsbox li.captcha_li label{
		width: 400px;
		max-width: 100%;
	    margin-bottom: 10px;
	}
	ul.commentsbox li.captcha_li label.img_captcha{
		width: 130px;
		display: block;
	}

	#products .col-title , #products .col-1 {
		display: none;
	}
	#products .col-dosage , #products .col-2-dosage {
		display: none;
	}

	#col-2 #products .col-2-price-old.testpack{
		display: none;
	}
	#products .col-price-old.testpack{
		display: none;
	}

}


@media screen and (min-width:375px) and (max-width:999px) {

	#col-2 p.invoice span{
	    width: 200px;
	}
	#checkout-one-step input#pcc{
		width: 162px;
	}

	ul.commentsbox li.li_radio fieldset div.bx_form span{
		font-size: 12px;
	    max-width: 40%;
	}
}

@media screen and (min-width:300px) and (max-width:374px) {

	#checkout-one-step input#pcc{
		width: 130px;
	}
	#col-2 p.invoice span{

	    width: 150px;
	}

	#col-2 #products .col-2-price-old{
		display: none;
	}
	#products .col-price-old{
		display: none;
	}
	ul.commentsbox li.li_radio fieldset div.bx_form span{
	    max-width: 36%;
	    font-size: 12px;
	}
}

@media (max-width: 400px) {
 .hidden{
  display: none;
 }
 #col-2 #identifyingDetails textarea{
  max-width: 270px;
 }
}

@media (min-width: 1000px) {
	#header-mobile {
		display: none;
	}
	.onlymob {
		display: none;
	}
}


.reviews-item {
	border:1px solid rgba(10,0,0,0.2);
	box-shadow: 0px 1px 2px 0px silver;
	padding: 20px;
	margin-bottom: 20px;
	font-size: 12px;
}
.reviews-item .date, .reviews-item .rating {
	
}
.reviews-item .rating {
	float:right;
	text-align: right;
}
.reviews-item .content {
	padding: 10px 0;
	font-size: 14px;
	font-style: italic;
	line-height: 25px;
}
a.write-review {
	color: rgb(247,178,0);
	font-size: 16px;
	text-decoration: underline;
}
#col-2 p a.write-review:hover {
	text-decoration: none;
	outline: none;
}
.reviews-heading {
	font-size: 16px; 
	font-style: italic;
}

@media (max-width: 992px) {
 #col-3{
  position: relative;
 }
 #col-3 .section.narrow.x5 img{
  max-width: 50%;
 }
 .section.narrow.section-x2{
  position: absolute;
  right: 0;
  top: 60%;
 }
 #sertified{
  background: none !important;
  border-bottom: none!important;
  font-size: 16px;
 }

}


@media(max-width: 1000px) {
 .col-3-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 }
 .col-3-block .section {
  text-align: center;
  width: auto;
 }
 .col-3-block .section.narrow.section-x2 {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 }
}

@media all and (max-width: 460px){
	#col-2 #topProducts .product{
		width: calc(50% - 10px);
		border: 1px solid #cececb;
		background: #f9f9f7;
		background: #f9f9f7 url(../img-europe/menu/productBg2.png) top center no-repeat;
		box-shadow: 0 3px 7px 0px #dedede;
		background-size: 100%;
		background-position-y: 0px;
	}
	#col-2 #orderform #shipping_info .line select,
	#col-2 #orderform #billing_info .line select,
	#col-2 #orderform #shipping_info .line input, #col-2 #orderform #billing_info .line input{
		width: calc(100% - 145px);
		display: block;
		box-sizing: border-box;
		height: 24px;
	}
}