@media (max-width: 768px) {
    #header, #mainWrap, #footer {
        width: auto;
    }
}
.stars_box:hover .rating_info{
    display: block;
}
#col-2 #orderform #login_info .line input, #col-2 #orderform #shipping_info .line input, #col-2 #orderform #billing_info .line input{
    font-size: 16px;
}
a{ text-decoration: none; outline: none; }
ul, ol{ list-style: none; }
label{ cursor: pointer; }
html, body{ width: 100%; height: 100%; }
table{ border-collapse: collapse; }
html, body, h1, h2, p, form, fieldset, img, label, ul, li, ol, dl, dd, dt, table, th, tr, td, thead, tbody{
    margin: 0;
    padding: 0;
    border: none;
}
body, input, textarea, select, li{ color: #000; font: 98%/12px Tahoma,Verdana,Helvetica,sans-serif; }
body{
    text-align: left;
}
.clear {
    clear: both;
}
#headerWrap{
    background: url(../img-europe/bodyBg.png) 0 0 repeat-x;
    height: 194px;
}
#header{
    width: 1000px;
    margin: 0 auto;
    height: 142px;
    background: url(../img-europe/headerBg.jpg) right 0 no-repeat;
    position: relative;
}
#header h1{
    width: 238px;
    height: 90px;
    position: absolute;
    left: 0;
    top: 20px;
}
.stars_box:hover .rating_info{
    display: block;
}
.rating_info{
    display: none;
}
.headNav{
    width: 1040px;
    margin: 0 auto;
    height: 37px;
}
.headNav ul{
    background: url(../img-europe/headNavBg.png) 0 0 no-repeat;
    height: 37px;
    overflow: hidden;
    padding-left: 1px;
    list-style: none;
    margin-left: 20px;
}
.headNav ul.de-topnav{
    margin-left: 220px;
}
.headNav li{
    float: left;
    height: 37px;
    background: url(../img-europe/headNavBg.png) right 0 no-repeat;
    padding-right: 1px;
    font-family: "Trebuchet MS", sans-serif;
    line-height: 1em;
}
.headNav li a{
    float: left;
    height: 37px;
    color: #000;
    line-height: 37px;
    padding: 0 10px;
    font-weight: bold;
}
.headNav li a:hover{ background: url(../img-europe/headNavBg.png) 0 -37px repeat-x; }
.headNav li.act a{ background: url(../img-europe/headNavBg.png) 0 -74px repeat-x; }

#headNav #languages{
	float: right;
	position: relative;
	top:-27px;
}
#headNav #languages a{
	padding: 0 2px;
}

#mainWrap, #footer{
    width: 1000px;
    margin: 0 auto;
}
#mainWrap{
    overflow: visible;
    clear: both;
    position: relative;
    margin-top: 6px;
}
#mainWrap:after{
    content: " ";
    display: block;
    clear: both;
}

#footerWrap{
    background: url(../img-europe/bodyBg.png) 0 -194px repeat-x;
    height: 115px;
    clear: both;
}
#footer{
    clear: both;
    text-align: center;
    padding-top: 39px;
}
#footer ul{
    overflow: hidden;
    font-size: 0.75em;
    font-weight: bold;
    display: inline;
    list-style: none;
}
#footer ul li{ display: inline; padding: 0 20px; }
#footer ul li a:hover{ text-decoration: underline; }
#footer ul li a{ color: #000; display: inline; }
#footer .h6{
    clear: both;
    width: 580px;
    margin: 26px auto 0;
    border-top: 1px #bbb solid;
    color: #646464;
    font-size: 0.63em;
    font-weight: normal;
    padding: 2px;
}


#col-1{
    width: 190px;
    float: left;
    padding-right: 20px;
    margin-top: -6px;
}

#col-1 .section{
    padding-bottom: 1px;
    margin-bottom: 10px;
}
#col-1 .section b, .clientmenusection b{
    background: rgb(255,162,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,162,38,1) 0%, rgba(255,186,41,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,162,38,1)), color-stop(100%,rgba(255,186,41,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* W3C */
    font-weight: bold;
    font-size: 1.06em;
    line-height: 19px;
    padding: 6px 10px 4px 14px;
    font-family: "Trebuchet MS", sans-serif;
    position: relative;
    display: block;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
#col-1 .blog_menu b {
     background: rgb(188,219,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(188,219,247,1) 0%, rgba(197,227,254,1) 49%, rgba(178,219,255,1) 51%, rgba(75,170,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,219,247,1)), color-stop(49%,rgba(197,227,254,1)), color-stop(51%,rgba(178,219,255,1)), color-stop(100%,rgba(75,170,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(188,219,247,1) 0%,rgba(197,227,254,1) 49%,rgba(178,219,255,1) 51%,rgba(75,170,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(188,219,247,1) 0%,rgba(197,227,254,1) 49%,rgba(178,219,255,1) 51%,rgba(75,170,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(188,219,247,1) 0%,rgba(197,227,254,1) 49%,rgba(178,219,255,1) 51%,rgba(75,170,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(188,219,247,1) 0%,rgba(197,227,254,1) 49%,rgba(178,219,255,1) 51%,rgba(75,170,255,1) 100%); /* W3C */
}
#col-1 .section ul, #col-1 .section ol, .clientmenusection ul{
    border: 1px #c1c1c1 solid;
    background: #f1f1f1;
    overflow: hidden;
    width: 188px;
}
#col-1 .section ul li, .clientmenusection ul li {
    font-size: 0.81em;
    color: #4a4a4a;
    border-top: 1px #c1c1c1 solid;
    margin-top: -1px;
    line-height: 16px;
    float: left;
    width: 100%;
}
#col-1 .section ul li a , .clientmenusection ul li a{
    color: #4a4a4a;
    display: block;
    padding: 4px 5px 7px 5px;
}
#col-1 .section ul li a.active, .clientmenusection ul li a.active {
    background: #fff;
}
#col-1 .section ul li a:hover, .clientmenusection ul li a:hover{ background: #fff ; }
#col-1 .section ol{ padding: 7px 0; margin-bottom: 6px; }
#col-1 .section ol li{
    font-size: 0.81em;
    color: #4a4a4a;
    line-height: 16px;
    float: left;
    width: 188px;
}
#col-1 .section ol li a:hover{ text-decoration: underline; }
#col-1 .section ol li a{
    width: 160px;
    color: #4a4a4a;
    display: block;
    padding: 2px 5px 2px 23px;
    float: left;
}
#col-1 #specials{ padding: 5px 0 6px; }
#col-1 #specials form{
    background: url(../img-europe/specialsBg.gif) 0 0 repeat-x;
    height: 100px;
    padding-top: 5px;
    text-align: center;
}
#col-1 #specials .line{ padding: 7px 0 0 11px; }
#col-1 #specials .line input{
    font-size: 0.75em;
    color: #4a4a4a;
    border: 0;
    width: 150px;
    padding: 4px 9px;
    display: block;
    line-height: 14px;
    height: 14px;
}



#col-1 #specials .submit{
    display: block;
    width: 130px;
    margin: 10px auto 0;
}
#col-1 #specials ul {
    margin-bottom: 20px;
}
#col-1 img{ display: block; margin-bottom: 17px;}

#col-2{
    width: 580px;
    float: left;
}
#col-2 .h3{
    font-size: 16px;
    font-weight: bold;
    padding: 2px 0 10px;
    display: block;
}

#col-2 h1{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    padding: 2px 0 10px;
}
#col-2 #topProducts h1{
    padding: 2px 15px 10px;
}

#col-2 #topProducts h2, #col-2 #topProducts h3 {
    padding: 2px 15px 10px;
}

#col-2 #topProducts h4{
    padding: 2px 15px 5px;
}

#col-2 h2, #col-2 h3, #col-2 h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

#col-2 h2{
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    padding: 2px 0px 10px;
}
#col-2 h3{
    padding: 2px 0px 5px;
    line-height: 24px;
    font-size: 14px;
}

#col-2 h4{
    padding: 2px 0px 5px;
    line-height: 22px;
    font-size: 13px;
}

#col-2 p, #col-2 li{
    font-size: 0.75em;
    color: #666;
    line-height: 1.33em;
    text-align: left;
    padding: 5px 0 5px;
	clear:left;
	margin-right:5px;
}

#col-2 dl{
    font-size: 0.75em;
    color: #666;
    line-height: 1.33em;
    text-align: left;
    padding: 5px 0 5px;
    clear:left;
    margin-right:5px;
}

#col-2 dt{
    margin-left:10px;
    font-weight: bold;
}
#col-2 dd{
    margin-left:20px;
    font-size: 0.9em;
}

#col-2 blockquote{
    font-size: 0.75em;
    color: #666;
    line-height: 1.33em;
    text-align: left;
    padding: 5px 0 5px;
    clear:left;
    margin-right:5px; 
}

#col-2 ol li{
    list-style: decimal inside;
}


#col-2 #toPrint #productTable p {
    border-bottom: 1px dashed #A8A8A8;
    display: block;
    padding: 0;
    text-align: none;
    margin-right:0px;
}

#col-2 #productTable{
    border: 1px solid #000;
}

#col-2 p span{ color: #060606; float: left; }

#col-2 p a:hover{ text-decoration: underline; }

#col-2 .h5{
    height: 35px;
    background: url(../img-europe/head5Bg.gif) 0 0 repeat-x;
    text-align: center;
    line-height: 35px;
    font-size: 0.75em;
    color: #000;
    margin-bottom: 5px;
}
#col-2 .sep-1{ border-bottom: 1px #bbb solid; }
#col-2 .sep-2, #col-2 .sep-5{ border-top: 1px #bbb solid; padding-top: 20px; margin-top: 10px; }
#col-2 .sep-3{ margin-top: 10px; }
#col-2 .sep-3 strong, #col-2 .sep-6 strong{ color: #2a2a2a; }
#col-2 .sep-3 strong a{ color: #2a2a2a; text-decoration: underline; }
#col-2 .sep-4{ padding: 15px 0; }
#col-2 .sep-4 strong{ color: #2b2b2b; padding-left: 125px; }
#col-2 .sep-5{ color: #000; }
#col-2 .sep-6{ padding: 5px 0 0; }

#col-2 #about p a:hover{ text-decoration: underline; }
#col-2 #about p a, #col-2 #about p strong{ color: #2b2b2b; }
#col-2 #about p span{ color: #666; width: 155px; }


#col-2 li{
    list-style: disc inside none;
}

#col-2 #topProducts{
    margin-left: -16px;
    _margin-left: -32px;
    width: 596px;
    _width: 612px;
    overflow: hidden;
    height: 1%;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
#col-2 #topProducts .h3{
    font-size: 0.88em;
    padding: 10px 0 10px 16px;
    _padding-left: 32px;
    display: block;
}
#col-2 #topProducts .product{
    float: left;
    width: 182px;
    height: 136px;
    background: url(../img-europe/productBg.png) 0 0 no-repeat;
    position: relative;
    margin-left: 16px;
    margin-top: 11px;
	cursor: pointer;
}
#col-2 #topProducts .product img{ margin: 1px; display: block; }
#col-2 #cart, #col-2 #products{
    font-size: 0.75em;
    width: 100%;
}
#col-2 #cart th, #col-2 #products th{
background:transparent url(../img-europe/cartBg.png) no-repeat scroll 0 -67px;
border-top:0 solid #CCC;
font-weight:normal;
height:25px;
padding-left:8px;
}
#col-2 #cart .col-1, #col-2 #products .col-1{ border-left: 0 solid #ccc; padding-left: 15px;  }
#col-2 #products .col-1{
    width: 35%;
    min-width: 100px;
}
#col-2 #cart .col-1.menge{
    padding-left: 8px;
}
#col-2 #products .col-1.testpack{
    width: 100px;
    min-width: 90px;
}
#col-2 #cart .col-2{ width: 81px; }
#col-2 #cart .col-3{ width: 85px; }
#col-2 #cart .col-4{ width: 91px; }
#col-2 #cart .col-5{ width: 115px; border-right: 1px solid #ccc;}
#col-2 #cart tbody td, #col-2 #products tbody td{
    border-bottom: 1px #bbb solid;
    padding: 5px 0 5px 8px;
}
#col-2 #cart tbody tr.upgrade td, #col-2 #products tbody tr.upgrade td{
    border-bottom: 0 #bbb solid;
    padding: 5px 0 5px 8px;
}

#col-2 #cart tbody tr.upsale td {
	border-bottom: 0 none;
}
#col-2 #cart strong, #col-2 #products strong{ color: #dc2900; font-size:12px;font-weight:normal; }
#col-2 #cart tbody td:first-child,#col-2 #cart tfoot td:first-child, #col-2 #products tbody td:first-child{ padding:12px 13px 12px 7px; padding-left: 15px; }
#col-2 #cart tbody td#toleft:first-child{ padding:12px 13px 12px 7px; padding-left: 5px; }
#col-2 #cart .remove:hover{ background-position: 0 -23px; }
#col-2 #cart .remove{
    display: block;
    text-indent: -99999px;
    width: 25px;
    height: 23px;
    background: url(../img-europe/buttons/cartRemove.png) 0 0 no-repeat;
}
#col-2 #cart tfoot, #col-2 #checkout tfoot{ padding-top: 1px; }
#col-2 #cart tfoot td, #col-2 #checkout tfoot td{
    margin-top: 1px;
    background: #EFEFEF;
}

/* changed by emil */
/* added section regarding #col-3 .next */
#col-2 #cart .next:hover , #col-2 #cart .next:hover, #col-3 .next:hover { background-position: 0 -23px; }
#col-2 #cart .next, #col-3 .next{
    background: url(../img-europe/cartButton.png) 0 0 no-repeat;
    width: 188px;
    height: 23px;
    text-indent: -99999px;
    display: block;
    float: right;
    margin-right: 86px;
}
#col-3 .next{
	margin-right: 3px;
}
#col-2 #cart tfoot p{
    height: 10px;
    font-weight: bold;
    font-size: 1em;
}

#col-2 #contact {
    padding: 20px 0 10px;
    border-bottom: 1px #bbb solid;
    margin-bottom: 10px;
}

#col-2 #orderform #shipping_info li {
    margin-bottom: 10px;
}

#col-2 #orderform #shipping_info , #col-2 #orderform #billing_info{
    width:275px;
    float:left;
    border:0 solid #000;
}

#col-2 #orderform #shipping_info .line.email{
    padding-top: 10px;
    padding-bottom: 29px;
}

#col-2 #orderform #billing_info{
    margin-left: 10px;
}

#col-2 #orderform{
    width: 580px;
}

#col-2 #orderform .h3   {

background:transparent url(../img-europe/cartBg.png) repeat-x scroll 0 -68px;
border-right:1px solid #D0D0D0;
border-top:1px solid #D0D0D0;
font-size:12px;
font-weight:bold;
height:12px;
line-height:18px;
padding-left:5px;
margin-bottom:10px;
display: block;
}

#col-2 #orderform .align_left {
float:left;
}

#col-2 #orderform .label_left {
margin-top:2px;
text-indent:10px;
}
    
    
#col-2 #orderform .stepFooter   {
    text-align: right;
}
#col-2 #orderform .line   {
    /*height: 1%;*/
    /*overflow: hidden;*/
    padding: 5px 0;
}
#col-2 #orderform .line span {
    padding: 0; margin: 0;
}
#col-2 #orderform .line label{
    width: 160px;
    float: left;
    font-size: 0.85em;
    line-height: 20px;
    text-align: left;
    padding-right: 5px;
}
#col-2 #orderform .line label.error{
    width: 0px;
    float: none;
    font-size: 53%;
    line-height: 20px;
    padding-left:0px;
    /*color:red;*/
    text-align:left !important;
    
}
#col-2 #orderform .line label[generated].error{
    display: none;
}

#col-2 #orderform .line label.success {
    color:blue;
    padding-left:16px;
    text-align:left !important;
}


#col-2 #orderform #cc_info .line label{
    width: 200px;
}
#col-2 #orderform #cc_info .line   {
    display: inline-block;
}
.inp{
    border:1px solid #C6C6C6;
    font-size: 13px;
    width:160px;
}
.datediv{
    border:1px solid #C6C6C6;
    font-size: 13px;
}



#col-2 #orderform .inp.error{
    border:1px solid red;
}

#col-2 #orderform #login_info .line ,#col-2 #contact .line,#col-2 #orderform #shipping_info .line ,#col-2 #orderform #billing_info .line ,#col-2 #identifyingDetails .line  {
    height: 1%;
    overflow: hidden;
    padding: 5px 0;
}
#col-2 #orderform #login_info .line label , #col-2 #orderform #shipping_info .line label , #col-2 #orderform #billing_info .line label{
    width: 125px;
    float: left;
    font-size: 0.85em;
    line-height: 20px;
    text-align: left;
}
#col-2 #orderform #login_info .line select, #col-2 #orderform #shipping_info .line select, #col-2 #orderform #billing_info .line select {
    float: left;
    width: 140px;
    height: 24px;
    font-size: 0.9em;
}
#col-2 #orderform #login_info .line input, #col-2 #orderform #shipping_info .line input, #col-2 #orderform #billing_info .line input {
    float: left;
    width: 130px;
    height: 16px;
    padding: 2px 4px;
    font-size: 0.9em;
    border: 1px #c6c6c6 solid;
}

/**/
#col-2 #contact .line label , #col-2 #identifyingDetails .line label{
    width: 120px;
    float: left;
    font-size: 0.75em;
    line-height: 20px;
    text-align: left;
}
#col-2 #contact .line select, #col-2 #identifyingDetails .line select{
    float: left;
    width: 140px;
    height: 20px;
    font-size: 0.75em;
}
#col-2 #contact .line input , #col-2 #identifyingDetails .line input{
    float: left;
    width: 130px;
    height: 20px;
    padding: 2px 4px;
    font-size: 14px;
    border: 1px #c6c6c6 solid;
}


/**/
#col-2 #orderform #billing_info .line select.datediv ,#col-2 #identifyingDetails .line select.datediv{
	margin-right:10px;
width:65px;
}



#col-2 #orderform #billing_info .line select.birthdaydiv ,#col-2 #identifyingDetails .line select.birthdaydiv{
	width:44px;
}
#col-2 #orderform #billing_info .line select.birthmonthdiv ,#col-2 #identifyingDetails .line select.birthmonthdiv{
	width:36px;
}
#col-2 #orderform #billing_info .line select.birthyeardiv ,#col-2 #identifyingDetails .line select.birthyeardiv{
	width:60px;
}

#col-2 input.error,
#col-2 select.error {
    border: 1px solid red !important;
}
div#col-2 input.error#agb{
    outline: 1px solid red;
    border: 0px;
}

#col-2 #contact textarea , #col-2 #identifyingDetails textarea{
    float: left;
    width: 380px;
    height: 120px;
    padding: 2px 4px;
    font-size: 0.75em;
    border: 1px #c6c6c6 solid;
}
#col-2 #identifyingDetails textarea{
    width: 330px;
}
#col-2 #contact p{
    font-size: 0.69em;
    padding: 10px 0 30px;
}

/* end of changes */
#col-2 #account{
    height: 117px;
    background: #f0f0f0 url(../img-europe/cartBg.png) 0 68px repeat-x;
    position: relative;
    padding-top: 20px;
}
#col-2 #account .login:hover{ background-position: 0 -23px; }
#col-2 #account .login{
    background: url(../img-europe/accountButton.png) 0 0 no-repeat;
    width: 136px;
    height: 23px;
    text-indent: -99999px;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 258px;
}
#col-2 #account .line{
    height: 1%;
    overflow: hidden;
    padding: 5px 0;
}
#col-2 #account .line label{
    width: 65px;
    float: left;
    font-size: 0.75em;
    line-height: 20px;
    padding-left: 125px;
}
#col-2 #account .line input{
    float: left;
    width: 190px;
    height: 16px;
    padding: 2px 4px;
    font-size: 0.75em;
    border: 1px #c6c6c6 solid;
}
#col-2 #account .line span{
    float: left;
    font-size: 0.75em;
    line-height: 20px;
    padding-left: 10px;
}
#col-2 #products{ margin-bottom: 25px; }
#col-2 #products tbody td{ padding: 2px 0 2px 8px; }
#col-2 #products .col-1-testpack{ 
    width: 100%;
    max-width: 270px;
    min-width: 100px;
}
#col-2 #products .col-2{ 
    width: 98px; 
    padding-right: 4px;
}
#col-2 #products .col-2-dosage{ 
    width: 30%;
    min-width: 70px; 
}
#col-2 #products .col-2-menge{ 
    max-width: 145px; 
    width: 50%;
    min-width: 100px;
    padding-right: 4px;
}
#col-2 #products .col-2-price{ 
    width: 100%;
    min-width: 60px; 
}
#col-2 #products .col-2-price-old{ 
    width: 100%; 
    min-width: 65px;
}
#col-2 #products del{ font-weight: bold; text-decoration-color:red; }
#col-2 #products .buy:hover, .trialpack .buy:hover { background-position: 0 -29px; }
#col-2 #products .buy, .trialpack .buy{
    display: block;
    text-indent: -99999px;
    width: 66px;
    height: 29px;
    background: url(../img-europe/buttons/buyButton.png) 0 0 no-repeat;
}

#col-3{
    float: right;
    width: 190px;
    margin-top: -6px;
}
#col-3 .section{
    padding-bottom: 1px;
}
#col-3 .section .h3{
    background: url(../img-europe/sectionHeadBg.png) 0 0 no-repeat;
    font-weight: bold;
    font-size: 1.06em;
    line-height: 19px;
    padding: 6px 10px 4px 14px;
    font-family: "Trebuchet MS", sans-serif;
    border-bottom: 1px #f89327 solid;
    position: relative;
    display: block;
}
#col-3 .narrow .h3{ font-size: 0.81em; text-transform: uppercase; }
#col-3 .section p{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    background: #f1f1f1;;
	padding: 20px 0; 	
}
#col-3 .section b, #col-3 .section a{ text-decoration: underline; color: #000; }
#col-3 img{ display: block; padding: 6px 0; }
#col-3 .section img{ display: block; padding: 15px 0; }
#col-3 #info{
    border: 1px #c1c1c1 solid;
    background: #fff;
    padding: 10px 10px 0;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
}
#col-3 #info strong{
    color: #2e86f7;
    font-size: 1.06em;
}
#col-3 #info p{
    font-weight: normal;
    font-size: 0.88em;
    padding: 10px 0;
}
#col-3 #info p span{ font-size: 1.21em; }

/* added by emil */
#col-2 #med li {
	color:#666;
	font-weight:normal;
}

fieldset#yes_no_questions { padding-bottom: 10px; }
fieldset#yes_no_questions div { padding: 5px 0; width: auto }
fieldset#yes_no_questions input { width: auto; display: inline }
fieldset#yes_no_questions label {  width: auto; display: inline; font-size:0.69em;}
fieldset#yes_no_questions label.question { padding-left: 22px }

fieldset#specify_conditions { padding-top: 10px }
fieldset#specify_conditions div { float: left; width: 130px; padding: 5px 0 }
fieldset#specify_conditions label.question { display: block !important; float: none !important; width: auto !important; height: 60px }
fieldset#specify_conditions textarea { border:1px solid #CCC; clear: both; width: 120px; height: 90px }
fieldset#specify_conditions input { float: left; width: auto }
fieldset#specify_conditions label { width: auto; float: left; padding: 0 1px 8px 0 ; font-size:0.69em;}

div#medical_info fieldset,
div.line.agree,
div.controls
	{ padding: 0.5em 0.8em }

div#orderform,
div#medical_info
{
	float: left;
	width: 100%;
	padding-bottom: 10px;
	
}

#col-2 p.invoice label {
    width:180px; 
    /*float: left; */
    color:black; 
    margin-right:5px; 
    cursor:default; 
    border-right: 1px solid #A8A8A8;
    padding: 5px;  
    display: inline-block;
}

#col-2 p.invoice span{
    float: none;
}

.hidetd,#hideCart {display:none;}

#col-1 #specials .line.emails{ padding-bottom:22px; }
#col-1 #specials .line.emails label{ width:50px; float:left; color: #4A4A4A; font-weight:bold; font-size:0.81em; }
#col-1 #specials .line.emails input{ width:100px; float:left; }

div#orderform #login_info .line label em, div#orderform #shipping_info .line label em, div#orderform #billing_info .line label em, div#orderform #shipping_info .line label em{
color:#F88000;
font-style:normal;
}

.msg {font-size:13px !important; }


table.trialpack {
	float: left;
	display: inline;
	margin: 5px 3px 0 13px;
	width: 195px;
	height: 217px;
	background: url(../img-europe/trial_pack_bg.gif) no-repeat 0 0;
}

table.trialpack td.title { height: 30px; padding-left: 10px; color:#1a578e; font-size:12px; font-weight: bold }
table.trialpack td.image { height: 44px; padding-left: 10px }
table.trialpack td.extradesc { width: 180px; height: 95px; padding-left: 10px; font-size: 11px; line-height: 18px; color: #414040; }
table.trialpack td.price { height: 48px; padding-left: 15px }
table.trialpack td.price .h5 { margin: 0; padding: 4px 0 0 0; color: #cb0000 !important; font-size: 28px !important; line-height: 25px; font-weight: bold ; background:url(default.htm) !important;}
table.trialpack td.price span.yousave { color: #000; letter-spacing: 0; font-size: 11px; font-weight: bold }
table.trialpack td.buynow { height: 48px }


#cart .orderExtra{
    margin: -8px auto 0px;
    /*height: 43px;*/
    height: auto;
    /*width: 570px;*/
    width: 100%;
    border: 4px dashed red;
    /*background: url(../img-europe/orderExtraBg.png) no-repeat;*/
    /*z-index: 10;*/
    position: relative;
}
#cart .supersize{ padding: 10px; }
#cart .orderExtra .h4{
    float: none;
    display: inline;
    color: #FF4800;
    font-size: 0.95em;
    font-weight: bold;
    line-height: 120%;
}
#cart .orderExtra .h5{
    float: none;
    display: inline;
    font-size: 0.95em;
    font-weight: bold;
    line-height: 120%;
    margin: 0;
    background: none;
    padding: 0 5px;
}

#cart .orderPrice .submit, #cart .orderExtra .submit{
    display: block;
    width: 83px;
    height: 19px;
    background: #22A1D1;
    text-align: center;
    color: #fff;
    border-width: 0;
    background: url(../img-europe/buttons/06.png) top no-repeat;
    font-weight: bold;
    float: none;
    cursor: pointer;
    margin: 1px 0 0 0;
}

#cart .orderExtra .submit{ margin: 12px 0 0 10px; line-height: 1.81em; background: url(../img-europe/buttons/09.png) top no-repeat; display: inline-block; }



#col-2 #checkout tfoot p{
    height: 20px;
    padding: 8px 0 5px;
    font-weight: bold;
    font-size: 1em;
    padding-left: 345px;
}


p#lbl_billing_as_shipping{
float:right;
font-size:10px;
line-height:12px;
margin-top:-7px;
width:234px;
}


.validation-advice{
color:red;
font-size:11px;
margin:0 20px 0 127px;
margin-left: 10px !important;
}



fieldset#specify_conditions li {
float:left;
padding:5px 0;
width:138px;
}

.link_upgrade{
    color: #20C;
    font-weight: bold;
}


.btn{
    width: 200px;
    background:transparent url(../img-europe/buttons/btn.gif) no-repeat scroll 0 0;
    height:23px;
    display:block;
    line-height:22px;
    text-indent:8px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}


 .btn_b{
    width: 210px;
    background:transparent url(../img-europe/buttons/btn_b.png) no-repeat scroll 0 0;
    height:23px;
    display:block;
    line-height:22px;
    text-indent:30px;
    color: white;
    font-weight: normal;
    font-size: 12px;
}




.btn_blank{
    width: 130px;
    background:transparent url(../img-europe/buttons/btn_blank.gif) no-repeat scroll 0 0;
    height:23px;
    display:block;
    line-height:20px;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
}
.btn_black{
     background: url("../img-europe/buttons/btn_black.gif") no-repeat scroll center 0 transparent;
    border: medium none;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    margin-left: 50px;
    margin-top: 10px;
    text-align: center;
    width: 130px;
    cursor: pointer;
}

.btn_green{
    background:transparent url(../img-europe/buttons/btn_green.gif) no-repeat scroll 0 0;
    height:23px;
    display:block;
    line-height:20px;
    text-align: center;
    width:130px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}



.btn:hover, .btn_blank:hover, .btn_black:hover, .btn_green:hover, .btn_b:hover {
    background-position: 0 -23px;
}

#blk_login label{
    width:160px;
}

#blk_login input.inp {
border:1px solid #C6C6C6;
float:left;
font-size:12px;
height:16px;
padding:2px 4px;
width:130px;
}

#customer_type{
    float:left;
    width:220px;
}
#customer_auth{
    display:inline-block;
}
    #customer_auth label{
        width:80px;
    }

    #btnForgot_password{
        border: 0;
        cursor: pointer;
    }
    #forgot_password{
        text-align: right;
        padding: 5px 3px;
    }
    #forgot_password a{
        font-size: 10px;
        padding-right: 10px;
    }
    
/*retrive password*/
.black_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-color: #C0C0C0;
    z-index:1001;
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: white;
    z-index:1002;
    overflow: auto;
}    

.faq_list{
    font-size: 17px;
}.faq_list a{
    color: #3B96BF;
}

#order_amount{
font-size:14px;
font-weight:bold;
padding-left:8px;
}

.col-title, .col-title-testpack{
    line-height:16px;
}

    #wire_t {
    text-align: right;
    margin-left: 30px;
    height:35px; 
    width: 235px;
    }
    
    #wire_t p {
    font-size:11px;
    text-align:right;
    padding: 0 3px 0 0;
    color: #4A8F23;
    }
    
    .lbl-fields-mandatory{font-size:11px;}
    


    
    #div-orderpage-levels ul.orderpage-levels {
        list-style: none; 
        height:40px;
        line-height:40px;
        width:580px;
        padding:0;    
    }   
    
    #div-orderpage-levels .level-1 {
    background:url("../img-europe/menu.png") repeat scroll 0 40px transparent;  
    }
    
    #div-orderpage-levels .level-2 {
    background:url("../img-europe/menu.png") repeat scroll 0 80px transparent;  
    }
    
    #div-orderpage-levels .level-3 {
    background:url("../img-europe/menu.png") repeat scroll 0 120px transparent;  
    }
    
    
    #div-orderpage-levels ul.orderpage-levels li {
        clear: none;
        color: #AF540A;
        float: left;
        font-size: 11px;
        font-weight: normal;
        line-height: 12px;
        padding: 6px 0 0 10px;
        text-align: left;
        width: 170px;
    }  
    
    #div-orderpage-levels ul.orderpage-levels li.active {
    color: #fff;
    }
/*-------------------------------------------------------------------stars_box*/



  .stars_box{
    color: #444;
    float: left;
    font-size: 12px;
    margin-left: 10px;
    position: relative;
    text-align: left;
    max-width: 340px;
  }
  
  .stars_box .text_star{
     font-size: 12px;
     color: #444;
  }
  .stars_box .txt_star{
     display: inline-block;
     vertical-align: text-top;
     zoom: 1;
     *display: inline; /*for IE7*/
  }
  .stars_box .txt_star .block_txt_rate{
      margin: 0 0 0 10px;
      vertical-align: bottom;
  }
  /*---------------------------------------stars_img_box*/

.stars_img_box{
    background: url(../img-europe/stars_small.png) no-repeat 0 0;
    display: inline-block;
    height: 15px;
    width: 70px;
    margin-top: -5px;
    vertical-align: middle;
    zoom: 1;
    *display: inline; /*for IE7*/
}

.box_testimonial_stars span{
    margin: 0 0 3px 0;
    padding: 5px 0;
}
.block_txt_rate{
    margin: 0 5px 0 10px;
}
.block_txt_rate span{
    padding-bottom: 1px;
}
  .stars_box span{
    display: inline-block;
    vertical-align: text-top;
    zoom: 1;
    *display: inline; /*for IE7*/
}
.stars_img_box .stars_img{
    background: url("../img-europe/stars_small.png") no-repeat scroll 0 -16px transparent;
    display: block;
    height: 15px;
}
.box_testimonial_stars span{
    line-height: 10px;
    margin-right: 0;
    vertical-align: baseline;
    *padding-right: 5px;
    *vertical-align: middle; /*for IE7*/
   
}
.box_testimonial_stars span span{
    padding-bottom: 5px;
}
.title_aut .stars_img_box {
    float: left;
    margin-top: -5px;
    width: 100px;
}
/*---------------------------------------stars_img_box*/
  
/* ----------------------------------- .rating_info*/
.rating_info{
    position: absolute;
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #bbb;
    border-radius: 3px 3px 3px 3px;
    text-align: center;
    height: 150px;
    right: -10px;
    top: 18px;
    width: 220px;
}
.rating_info a{
    color: #000;
    font-size: 11px;
    text-align: center;
}
.rating_info b{
    display: block;
    color: #000;
    font-size: 12px;
    margin: 5px 0 8px;
    text-align: center;
}
.rating_info .line_rating{
    margin: 3px 0;
    padding-left: 20px;
    text-align: center;
}
.no_rating span{
    color: #aaa!important;
}
.rating_info span:first-child{
    text-align: left;
    width: 68px;
}
.rating_info span{
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    margin: 0 3px;
    text-align: left;
    vertical-align: middle;
    width: 40px;
    zoom: 1;
    *display: inline;
}
.rating_info .box_rating_grey{
    background: #69bce2;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 70px;
    zoom: 1;
    *display: inline;
}
.rating_info .box_rating_grey .box_rating_yellow{
    background: #ffc000;
    height: 10px;
}
/* ----------------------------------- .rating_info*/
#col-2 h1.prod_title{
    float: left;
    letter-spacing: 1px;
    line-height: 18px;
    width: 280px;
}
/*-------------------------------------------------------------------stars_box*/
   
/* ----------------------------------------------------------------  testimonial*/
   .box_testimonial_stars{
        float: none;
        margin: 0;
        padding-left: 5px;
        text-align: left;
        width: 250px;
      *padding-bottom: 5px;
   }
   .box_testimonial_stars .stars_img_box{
       display: block;
        margin-left: 0px;
        margin-top: 0;
   }
   
   .stars_box a{
    color: #000;
    font-size: 12px;
    line-height: 16px;
   }
   .stars_box a:hover{ 
       text-decoration: none;
   }
   .rating_info a,  .rating_info a:hover{
        color: #000;
        text-decoration: underline;
   }
   .box_testimonial_stars, .testimonial_rating_info{
       display:  inline-block;
       vertical-align: top;
       zoom: 1;
       *padding-bottom: 5px; /*for IE7*/
       *display: inline; /*for IE7*/
       
   }
   
   
   
   .testimonial_rating_info{
    text-align: left;
    border-right: 1px dashed #aaa;
    width: 230px;
   }
   .testimonial_rating_info b{
    color: #000;
    display: block;
    font-size: 12px;
    margin: 5px 0 8px;
    text-align: left;
   }
   .testimonial_rating_info .line_rating{
    margin: 3px 0;
    text-align: left;
    width: 230px;
   }
   .testimonial_rating_info .line_rating span:first-child{
       text-align: left;
       width: 80px;
   }
   .testimonial_rating_info .line_rating span{
    color: #4B4B4B;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 11px;
    margin: 0 3px;
    width: 30px;
    zoom: 1;
    *display: inline; /*for ie7*/
   }
   .testimonial_rating_info .line_rating .box_rating_grey{
    background: none repeat scroll 0 0 #69BCE2;
    display: inline-block;
    height: 10px;
    vertical-align: middle;
    width: 60px;
    zoom: 1;
    *margin-top: 2px;
    *display: inline; /*for ie7*/
   }
   .testimonial_rating_info .line_rating .box_rating_grey .box_rating_yellow{
    background: none repeat scroll 0 0 #FFC000;
    height: 10px;
   }
   
/*-------------------------------------------------------------------------   testimonial*/
h1.testimonial_title{
    padding:  0 0 10px!important;
}
a.testimonial_a{
    background: url(../img-europe/buttons/link_back.png) no-repeat left 0;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #003f86;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
    line-height: 16px;
} 
a.testimonial_a:hover{
    text-decoration: underline;
}
#div_domtabs{
    width: 195px;
}
#div_domtabs div.left_li:first-child{
    border-top:  none;
}
#div_domtabs div.left_li{
    background: url(../img-europe/buttons/test_btn.png) no-repeat left top;
    height: 25px;
    color: #1163bf;
    cursor: pointer;
    width: 220px;
}
#div_domtabs div.left_li .menu_bomtabs {
    display: block;
    padding: 0 3px;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #1163bf;
}

#div_domtabs div.left_li:hover{
   background: url(../img-europe/buttons/test_btn.png) no-repeat left -26px;
    
   
    
}
#div_domtabs div.left_li:hover .menu_bomtabs {
    color: #0851a3;
}
/*   ------------------------------------------------------------------------domtab*/

.domtab{
    margin: 10px auto;
    width: 580px;
}
.domtab .box_txt{
    margin-top: -5px;
    padding-bottom: 10px;
}
.box_txt h2{
    border-bottom: 1px solid #AAA;
    color: #003f86;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0 0;
    padding: 10px;
}
.box_txt h2 a{
    display: block;
    font-size: 18px;
}
.box_txt .txt_commentsbox{
    border-radius: 3px 3px 3px 3px;
    padding: 10px;
    margin: 10px 0 20px;
    position: relative;
}
.txt_commentsbox_homepage{
    padding: 0 !important;
    margin: 0 !important;

}
.txt_commentsbox_homepage .info_commentsbox{
    padding-bottom: 20px !important;
}
    
.box_txt .txt_commentsbox .helpfull_info{
    color: #666;
    display: block;
    font-size: 14px;
    margin: 0 auto 15px;
    width: 100%;
    /*width: 550px;*/
}

.box_txt .txt_commentsbox .helpfull_info #vote_yes{
    color: green;
}
.box_txt .txt_commentsbox .helpfull_info #vote_all{
    color: #003F86;
}

.box_txt .txt_commentsbox span.tit_name{
    color: #003F86;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 5px;
    line-height: 16px;
}
.txt_box_date{
    border-left: 1px solid #AAA;
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    vertical-align: middle;
    width: 365px;
    zoom:1;
    *display: inline; /*for IE7*/
}
.txt_box_date span{
    color: #4B4B4B;
    display: block;
    font-size: 11px;
}

.box_txt .txt_commentsbox .info_commentsbox{
    border-top: 1px dashed #DDD;
    color: #666;
    font-size: 11px;
    margin-top: 10px;
    padding: 5px 0;
}

.txt_commentsbox .info_commentsbox span {
    color: #303030;
    display: inline-block;
    margin-top: 2px;
    width: 250px;
    zoom:1;
    *display: inline; /*for IE7*/
}
.txt_commentsbox .info_commentsbox a.red {
    color: red;
    float: right;
    font-size: 12px;
    padding: 0 5px;
}
.txt_commentsbox .info_commentsbox a.green {
    color: green;
    float: right;
    font-size: 12px;
    padding: 0 5px;
}



.box_txt .txt_commentsbox .author_box{
    background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 3px 3px 3px 3px;
    color: #000;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px;
    vertical-align: middle;
    width: 550px;
}
.box_txt .txt_commentsbox span.txt_comment{
    color: #303030;
    display: block;
    font-size: 14px;
    line-height: 16px;
}
.box_txt .txt_commentsbox .author_box span{
    color: #003F86;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-left: 10px;
}
.box_txt .txt_commentsbox .current_box{
    display: inline-block;
    vertical-align: top;
    float: none;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    margin-left: 10px;
    width: 65px;
    zoom:1;
    *display: inline; /*for IE7*/
}



.box_txt .txt_commentsbox .stars_img_box{
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0;
    margin-right: 5px;
    width: 70px;
    zoom:1;
    *display: inline; /*for IE7*/
}
/*-----------------------------------------------------------------block_star_rat*/
.block_star_rat{
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #BBB;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 265px;
    *top: 60px; /*for ie7*/
}

.block_star_rat .block_line{
   margin: 5px 0;
}

.block_star_rat .block_line span{
    vertical-align: middle;
    font-size: 12px;
}
.block_star_rat .block_line .name{
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    text-align: left;
    vertical-align: middle;
    width: 145px;
    zoom: 1;
    *display: inline; /*for IE7*/
}

.block_star_rat .block_line .stars_small{
    background: url("../img-europe/stars_small.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 70px;
    zoom: 1;
    *display: inline; /*for IE7*/
}

.block_star_rat .block_line .stars_small .stars_img_small{
    background: url(../img-europe/stars_small.png) no-repeat scroll 0 -16px transparent;
    height: 18px;
    margin: 0;
}




/*-----------------------------------------------------------------block_star_rat*/



.domtab .domtabs .left_li{
    background: url("../img-europe/buttons/section_left.png") no-repeat scroll 0 -36px transparent;
    color: #303030;
    display: inline-block;
    height: 35px;
    padding-left: 8px;
    position: relative;
    zoom: 1;
    *display: inline; /*for IE7*/
}
.domtab .domtabs .left_li a.menu_l{
    background: url("../img-europe/buttons/section_center.png") repeat-x scroll 0 -36px transparent;
    color: #303030;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    position: relative;
}
.domtab .domtabs .left_li .menu_r{
    background: url("../img-europe/buttons/section_right.png") no-repeat scroll 0 -36px transparent;
    color: #000; 
    font-size: 12px;
    height: 35px;
    position: relative;
    width: 9px;
    float: left;
}
 

.domtab .domtabs .active, .domtab .domtabs .left_li:hover{
    background: url("../img-europe/buttons/section_left.png") no-repeat scroll 0 top transparent;
    border-bottom: 1px solid #339eff;
    color: #000;
    display: inline-block;
    height: 35px;
    padding-left: 8px;
    position: relative;
    zoom: 1;
    *display: inline; /*for IE7*/
}
.domtab .domtabs .active a.menu_l, .domtab .domtabs .left_li:hover a.menu_l{
    background: url("../img-europe/buttons/section_center.png") repeat-x scroll 0 top transparent;
    border-bottom: 1px solid #339eff;
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    position: relative;
}
.domtab .domtabs .active .menu_r, .domtab .domtabs .left_li:hover .menu_r {
    background: url("../img-europe/buttons/section_right.png") no-repeat scroll 0 top transparent;
    color: #000; 
    font-size: 12px;
    height: 35px;
    position: relative;
    width: 9px;
    float: left;
}

/*------------------------------------------------------------------------------form*/
ul.commentsbox{
    background: none repeat scroll 0 0 #EFEFEF;
    padding: 10px 10px 0;
}
ul.commentsbox li{
    margin-right: 0!important;
    list-style: none!important;
}

ul.commentsbox li label, ul.commentsbox li fieldset .div_li label{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    width: 160px;
    max-width: 30%;
    text-align: left;
    margin-right: 10px;
    overflow: hidden;
    zoom: 1;
    *display: inline; /*for IE7*/
}

ul.commentsbox li label.img_captcha{
    border: 1px solid #AAA;
    width: 130px;
}
ul.commentsbox li label{
    width: 160px;
    max-width: 50%;
}
ul.commentsbox li.captcha_li input{
    padding: 5px 0;
    font-size: 21px;
    line-height: 24px;
}



ul.commentsbox li input, ul.commentsbox li fieldset .div_li input{
    border: 1px solid #aaa;
    display: inline-block;
    vertical-align: top;
    text-indent: 5px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    color: #303030;
    width: 200px;
    max-width: 60%;
    zoom: 1;
    *display: inline; /*for IE7*/
}


ul.commentsbox li textarea{
    border: 1px solid #aaa;
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    color: #303030;
    vertical-align: top;
    width: 335px;
    max-width: 100%;
    min-width: 291px;
    zoom: 1;
    *display: inline; /*for IE7*/
}

ul.commentsbox li.li_radio fieldset, ul.commentsbox li.form_first fieldset {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #CBCBCB;
    border-radius: 3px 3px 3px 3px;
    padding: 5px 0;
    width: 520px;
    min-width: 291px;
    max-width: 100%;
}
ul.commentsbox li.form_first fieldset{
    width: 400px;
    max-width: 100%;
}
ul.commentsbox li.li_radio fieldset legend, ul.commentsbox li.form_first fieldset legend {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 0 5px;
}

ul.commentsbox li.li_radio fieldset div.bx_form{
     padding: 0 10px;
     text-align: center;
}
ul.commentsbox li.form_first fieldset .div_li{
    padding: 0 10px;
    margin: 5px 0;
}

ul.commentsbox li.li_radio fieldset div.bx_form div, ul.commentsbox li.li_radio fieldset div.bx_form span{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline; /*for ie7*/
}



ul.commentsbox li.li_radio fieldset div.bx_form div{
    
}


ul.commentsbox li.li_radio fieldset div.bx_form span{
    border: medium none;
    color: #4B4B4B;
    font-size: 14px;
    overflow: hidden;
    padding-bottom: 5px;
    text-align: left;
    width: 200px;
    max-width: 36%;
}
button.button-css-blue{
    border: none;
    background: url(../img-europe/buttons/btn_form_test.png) no-repeat center top;
    color: #fff;
    float: right;
    font-size: 14px;
    overflow: hidden;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    height: 23px;
}
button.button-css-blue:hover{
    background-position: center -23px;
}

ul.commentsbox li.li_radio fieldset .raty-cancel{
 
}
  .bottom_txt{
    color: #494749;
    font-size: 15px;
    font-weight: normal;
    line-height: 18px;
    }
/*------------------------------------------------------------------------------form*/

.main_rang_stars{
    background: url(../img-europe/bg_stars/bottom.png) no-repeat center bottom;
    margin-bottom: 10px;
    padding: 0 0 8px;
}
.main_rang_stars .top{
    background: url(../img-europe/bg_stars/top.png) no-repeat center 0;
    height: 6px;
}
.main_rang_stars .center{
    background: url(../img-europe/bg_stars/center.png) repeat-y center 0;
    padding: 5px 10px;
}
.main_rang_stars .stars_img_box{
    
}
.main_rang_stars .bottom_txt{
    margin-left: 10px;
    width: 450px;
}
.main_rang_stars .stars_img_box, .main_rang_stars .bottom_txt{
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline; /*for ie7*/
}


/*-----------------------------------------------------------------main_rang_stars*/

/*-----------------------------------------------------special_offer_checkout*/
.sp_offer_checkout_div{
   margin-bottom: 25px; 
}
.sp_offer_checkout_div .tr_div{
    border-bottom: 1px solid #DDD;
    display: block;
    margin: 15px 3px;
    padding: 0 0 5px;
    font-size: 13px;
}
.sp_offer_checkout_div .tr_div span{
    margin-right:  20px;
    
}
.sp_offer_checkout_div .td_div span{
    margin-right:  5px;
    
}
.sp_offer_checkout_div .tr_div .td_div{
    float: right;
    margin-right: 10px;
    
}
.sp_offer_checkout_div .tr_div .o_amount{
   border-left: 1px solid #aaa;
       
}

.sp_offer_checkout_div .last_close_tb{
    background-color: #EEE;
    border-bottom: 1px solid #BEBEBE;
    border-top: 1px solid #BEBEBE;
    padding: 8px 5px 0;
}
input#checkout{
    background: url("../img-europe/buttons/checkout_btn.gif") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    float: right;
    height: 23px;
    line-height: 7px;
    margin: 5px auto;
    text-align: left;
    width: 251px;
}
input#checkout:hover{
    background: url("../img-europe/buttons/checkout_btn.gif") no-repeat scroll 0 -23px transparent;
}
/*---------------------table------------------------*/

table.sp_offer_checkout thead tr th{
    color: #4B4B4B;
    font-size: 13px;
    padding: 5px 5px 15px;
}
table.sp_offer_checkout tbody {
    border: 1px solid #DDD;
}
table.sp_offer_checkout tbody tr{
    
}
table.sp_offer_checkout tbody tr td:first-child{
    border-left: none;
    color: #2B2B2B;
    font-weight: bold;
}
table.sp_offer_checkout tbody tr td {
    border-bottom: 1px dotted #BBB;
    border-left: 1px solid #DDD;
    padding: 10px;
    font-size: 13px;
}
table.sp_offer_checkout tbody tr td.price {
     color: #DC2900;
}
/*----------------------------table---------------------*/

/*-----------------------------------------------------special_offer_checkout*/
.thank_title{
    color: #2b2b2b;
    border-bottom: 1px solid #DDD;
    margin-bottom: 14px;
    margin-top: 10px;
    padding-bottom: 14px !important;
}
.errors_1{
    background: url("../img-europe/errors.png") no-repeat scroll 15px center #ffd7d7;
    border: 1px solid #DF5959;
    display: block;
    margin-top: 24px;
    padding: 15px 5px 15px 55px;
}
div.add{
	background: url("../img-europe/searchBtn.png")  no-repeat 0 0;
	width: 50px;
	height: 25px;
	cursor: pointer;
}
div.add:hover{
	background-position:  0 -26px;
}
div.remove{
	background: url("../img-europe/searchBtn.png")  no-repeat 0 -52px;
	width: 50px;
	height: 25px;
	cursor: pointer;
}
.product_image_border
{
    border: 1px solid grey;
    margin: 7px 2px 0 10px;
}

/* articles */
#col-2 {
	width: 580px;
	float: left;
	font-family: Tahoma,Verdana,Helvetica,sans-serif;
}
#col-2 .page_name {
	font-size: 18px;
	font-weight: bold;
}
#col-2 .article {
	margin-top: 10px;
    padding: 7px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -ms-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
}
#col-2 .article:hover {
    border-color: #76c8ed;
}
#col-2 .article p {
    color: #000;
    line-height: 1.33em;
    font-size: 12px;
    clear: none;
    text-align: justify;
}
#col-2 .article .title {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    position: relative;
    margin-bottom: 10px;
    padding-right: 150px;
    border-bottom: 1px solid #bbb;
}
#col-2 .article .title span {
    height: 14px;
    font-size: 11px;
    top: 50%;
    right: 0;
    margin-top: -7px;
    position: absolute;
}
#col-2 .article .title a{
        color: #1163bf;
        text-decoration: underline;
}
#col-2 .article .title a:hover {
        text-decoration: none;
}
#col-2 .article img {
	height: 115px;
	width: 125px;
	float: left;
	margin: 0 10px 10px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#col-2 .article_info {
	min-height: 24px;
	margin-top: 5px;
	line-height: 24px;
    padding-left: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	background-color: #f1f1f1;
}
#full_article {
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-transition: .3s linear all;
    -moz-transition: .3s linear all;
    -ms-transition: .3s linear all;
    -o-transition: .3s linear all;
    transition: .3s linear all;
}
#full_article:hover {
    border-color: #76c8ed;
}
#col-2 #full_article .title {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
#col-1 .section b.articles_gradient {
    margin-bottom: 20px;
    background: rgb(187,218,246); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(187,218,246,1) 0%, rgba(180,221,253,1) 49%, rgba(150,206,255,1) 51%, rgba(137,198,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,218,246,1)), color-stop(49%,rgba(180,221,253,1)), color-stop(51%,rgba(150,206,255,1)), color-stop(100%,rgba(137,198,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(187,218,246,1) 0%,rgba(180,221,253,1) 49%,rgba(150,206,255,1) 51%,rgba(137,198,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(187,218,246,1) 0%,rgba(180,221,253,1) 49%,rgba(150,206,255,1) 51%,rgba(137,198,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(187,218,246,1) 0%,rgba(180,221,253,1) 49%,rgba(150,206,255,1) 51%,rgba(137,198,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(187,218,246,1) 0%,rgba(180,221,253,1) 49%,rgba(150,206,255,1) 51%,rgba(137,198,255,1) 100%); /* W3C */

}
#col-2 #full_article p {
    color: #000;
    font-size: 13px;
}
#col-2 #full_article li {
    color: #000;
}
#col-2 .article_info strong {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
}
#col-2 .article_info p {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    line-height: 24px;
}
#col-2 .article_info .date {
    float: right;
}
#col-2 .article .categories {
	width: 100%;
	float: left;
}
#col-2 .article .categories p {
	color: #777;
	font-size: 14px;
	display: inline;
	margin-right: 10px;
}
#col-2 .article .read_more {
	color: #fff;
	height: 22px;
	width: 140px;
	display: block;
	float: right;
	font-size: 13px;
	line-height: 22px;
	font-weight: bold;
    overflow: hidden;
	text-align: center;
	position: relative;
	text-decoration: none;
	border: 1px solid #3372b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #5a9ee3;
	background: -moz-linear-gradient(top, #5a9ee3 0%, #4d8bcb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5a9ee3), color-stop(100%, #4d8bcb));
	background: -webkit-linear-gradient(top, #5a9ee3 0%, #4d8bcb 100%);
	background: -o-linear-gradient(top, #5a9ee3 0%, #4d8bcb 100%);
	background: -ms-linear-gradient(top, #5a9ee3 0%, #4d8bcb 100%);
	background: linear-gradient(to bottom, #5a9ee3 0%, #4d8bcb 100%);
}
#col-2 .article .read_more:after {
	content: "";
	height: 1px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #90c3f7;
}
#col-2 .article .read_more:hover {
	background: #4d8bcb;
	background: -moz-linear-gradient(top, #4d8bcb 0%, #5a9ee3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4d8bcb), color-stop(100%, #5a9ee3));
	background: -webkit-linear-gradient(top, #4d8bcb 0%, #5a9ee3 100%);
	background: -o-linear-gradient(top, #4d8bcb 0%, #5a9ee3 100%);
	background: -ms-linear-gradient(top, #4d8bcb 0%, #5a9ee3 100%);
	background: linear-gradient(to bottom, #4d8bcb 0%, #5a9ee3 100%);
}
#to_top {
    height: 25px;
    line-height: 25px;
    bottom: 30px;
    right: 20px;
    display: none;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    background-color: #d4d4d4;
    border: 1px solid #CCC;
    background-repeat: no-repeat;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#to_top:hover {
    background-color: #bedcf8;
}
#to_top i {
    height: 13px;
    width: 16px;
    float: left;
    margin: 7px 8px 0 8px;
    background-image: url(../img-europe/to_top.png);
    background-repeat: no-repeat;
    background-size: contain; 
}
#to_top span {
    display: block;
    float: left;
    margin-right: 8px;
    font-size: 14px;
}
.wrapper_category_a{color:#000;}
.wrapper_category_a:hover{text-decoration:underline;}
#topProducts p, #topProducts ul { margin: 0 10px 0 17px;}

  .sharrre{
    float:left;
  }
  .sharrre .box a:hover{
    text-decoration:none;
  }
  .sharrre .count {
    color:#525b67;
    display:block;
    font-size:12px;
    font-weight:bold;
    line-height:20px;
    height:20px;
    position:relative;
    text-align:center;
    width:45px;
    margin: 0 24px 0 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    border:1px solid #b2c6cc;
    background: #fbfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fbfbfb 0%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(top, #fbfbfb 0%,#f6f6f6 100%); /* W3C */
  }
  .sharrre .count:before, .sharrre .count:after {
    content:'';
    display:block;
    position:absolute;
    left:49%;
    width:0;
    height:0;
  }
  .sharrre .count:before {
    border:solid 7px transparent;
    border-top-color:#b2c6cc;
    margin-left:-7px;
    bottom: -14px;
  }
  .sharrre .count:after {
    border:solid 6px transparent;
    margin-left:-6px;
    bottom:-12px;
    border-top-color:#fbfbfb;
  }
  .sharrre .share {
    color:#FFFFFF;
    display:block;
    font-size:12px;
    font-weight:bold;
    height:25px;
    line-height:25px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:45px;
    margin: 8px 0 0 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; 
  }
  #twitter .share {
    text-shadow: 1px 0px 0px #0077be;
    filter: dropshadow(color=#0077be, offx=1, offy=0); 
    border:1px solid #0075c5;
    background: #26c3eb;
    background: -moz-linear-gradient(top, #26c3eb 0%, #26b3e6 50%, #00a2e1 51%, #0080d6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26c3eb), color-stop(50%,#26b3e6), color-stop(51%,#00a2e1), color-stop(100%,#0080d6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* IE10+ */
    background: linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* W3C */
    box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #5cd3f1 inset;
  }
  #facebook .share {
    text-shadow: 1px 0px 0px #26427e;
    filter: dropshadow(color=#26427e, offx=1, offy=0); 
    border:1px solid #24417c;
    background: #5582c9; /* Old browsers */
    background: -moz-linear-gradient(top, #5582c9 0%, #33539a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5582c9), color-stop(100%,#33539a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5582c9 0%,#33539a 100%); /* IE10+ */
    background: linear-gradient(top, #5582c9 0%,#33539a 100%); /* W3C */
    box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset;
  }
  #googleplus .share {
    text-shadow: 1px 0px 0px #222222;
    filter: dropshadow(color=#222222, offx=1, offy=0); 
    border:1px solid #262626;
    background: #6d6d6d; /* Old browsers */
    background: -moz-linear-gradient(top, #6d6d6d 0%, #434343 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d6d6d), color-stop(100%,#434343)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6d6d6d 0%,#434343 100%); /* IE10+ */
    background: linear-gradient(top, #6d6d6d 0%,#434343 100%); /* W3C */
    box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #929292 inset;
  }
#googleplus .count {
    margin: 0;
}
.orderform_info_icon {
    background: url(../img-europe/infoicon.png) no-repeat scroll 0 0;
    width: 24px;
    height:24px;
    display: block;
    float:left;
}



/* bank data */
/*div.bank-details table{
    color: #323232;
    font-family: "Arial";
    border-collapse: collapse; 
    margin: 0;
}
div.bank-details table tr{

}
div.bank-details table td{
    
    padding: 0 0 5px 10px;
}
div.bank-details table td#theader{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #cecece;
}

div.bank-details table span.reference{
    font-size:12px;
}

div.bank-details table span.star{
    color: red;
}*/

#print{
    display: block;
    float: right;
    margin-top: 0px;
    margin-right: 15px;
}

label[for=CheckoutForm_card_month]
{
    display:none !important;
}


#identifyingDetails h3 { 
color: #2EA0C5;
margin-bottom: 50px;
}
.affiliat_img { 
float: left;
margin-right: 20px;
margin-top: -46px;
}

.mailblock table{
    /*border: 1px solid #000;*/
    width: 95%;
    margin: 0px 10px 10px 40px;
    border-collapse: collapse;
    /*display: none;*/
}
.mailblock  td{
    /*border-bottom: 1px solid #000;*/
    padding: 10px;
    /*font-size: 15px;*/
    /*font-size: 0.75em;*/
    /*font-family: "Times New Roman", Times, serif; */
    font-family: "Tahoma", "Verdana", "Helvetica", sans-serif;
    line-height: 1.33em;
    color: #666666;
    text-align: justify;
}

.mailblock td p {
    padding: 5px 0px 10px;
    text-align: left !important;
}

.mailblock a {
    font-size: 14px;
    padding-left: 20px;
    /*color: #176668;*/
    color: #666666;
    font-weight: bold;
    line-height: 1.23em;
}
.mailblock a:hover {
    text-decoration: none !important;
}

p#bankdetail-header{
    background: rgb(255,162,38); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,162,38,1) 0%, rgba(255,186,41,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,162,38,1)), color-stop(100%,rgba(255,186,41,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,162,38,1) 0%,rgba(255,186,41,1) 100%); /* W3C */

    border-bottom: 1px solid #000 !important;
    text-align: left;
    /*font-size: 1.0em;*/
    color: #000;
    padding: 2px 5px !important;
    font: 12px Tahoma,Verdana,Helvetica,sans-serif;
    font-weight: bold;
}

.bankdetails .invoice label{
    border-right: 0px;
}


/* tooltip */
.tooltip {
    position: relative;
    font-size: 0.9em;
    display: block;
    width: 130px;
    text-align: right;
    }

.tooltip span.question {
    
    color:#084482;
    border-bottom:1px dashed #084482; 
    text-decoration:none;

}

.tooltip em {
    display: none;
    }
.tooltip:hover em {
    z-index: 11;
    text-align: left;
    font-style: normal;
    display: block;
    position: absolute;
    color: #333333;
    padding: 20px 7px;
    top: 45px;
    left: 70px;
    width: 240px;
    background:#ffffe5;
    border-bottom:1px solid #666; 
    border-right:1px solid #666; 
    border-left:1px solid #666; 

    /*font-size:0.9em; */
    clear:both;


}
.tooltip:hover em i {
    position: absolute;
    padding:12px 0px 1px; 
    top: -12px;
    right: 0px;
    display: block;
    width: 100%;
    background:url(../img-europe/tooltip/tooltip_sprite.gif) -500px top no-repeat;
}

span.cardIconAmer {display:inline-block;float:left;margin-right:5px !important;width:75px;height:50px;background-image:url('../img-europe/tooltip/sprite_icon_cvv.png')}
span.cardIcon {display:inline-block;float:left;margin-right:5px !important;width:75px;height:50px;background-image:url('../img-europe/tooltip/sprite_icon_cvv.png');background-position:right -250px;}

#bc_birth input, input#pcvv {
    vertical-align:top;margin-top:3px;
}
#bc_birth input{
    width: 40px;
}
input#pcvv{
    width: 60px;
}

span.slash{
    vertical-align:top;
    display: inline-block;
    margin-top: 7px !important;
}



/* checkout-one-step*/

#checkout-one-step h3.orange{
    background: linear-gradient(to bottom, #FFA226 0px, #FFBA29 100%) transparent;
    display: block;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 1.06em;
    font-weight: 700;
    line-height: 19px;
    padding: 6px 10px 4px 14px;
    position: relative;
    margin: 0;
}

#checkout-one-step h3.orange.first{
    border-radius: 8px 8px 0px 0px;
}

#checkout-one-step input#pcc, #checkout-one-step input#pcvv{
    border: 1px solid #C6C6C6
}


#col-2 #cart tbody td.versandart#toleft:first-child{
    padding: 0px;
}
td.versandart div{
    padding: 4px 0;
}

#order .payment-col-1{
    float: left;
    width: 120px;


}

#order .payment-col-2{
    float: left;
}


#col-2 #orderform .productTable{
    border: 1px solid #BBBBBB;
    border-radius: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
}

h3.billing_title span, h3.shipping_title span {
    font-size: 15px;
    margin-left: 5px;
    border-bottom: 4px solid #E8E8E8;
}

label[for=CheckoutForm_card_month],label[for=bc_day],label[for=bc_month]
{
    display:none !important;
}


/* langs and curr */
#headNav .a-langs {
    margin: 0 0px;
    position: relative;
    float: right;
    top: -39px;
}

#headNav .a-langs a, #headNav .a-curr a {
    color: #00549f;
    font-size: 15px;
    text-decoration: none;
    float: none;
    font-weight: normal;
    height: auto;
}

#headNav .a-langs a.active, #headNav .a-curr a.active {
    padding: 7px 0 0 15px;
    line-height: 38px;
    position: relative;
    z-index: 6;
}

#headNav .a-langs a.active:before, #headNav .a-curr a.active:before {
    content: '';
    width: 12px;
    height: 7px;
    background: url("../images-lang/a-arrow.png") no-repeat;
    float: right;
    margin: 18px 0 0 5px;
    position: relative;
    z-index: 2;
}

#headNav .a-langs a img {
    margin-right: 6px;
    margin-bottom: 2px;
    vertical-align: middle;
}

#headNav .a-langs ul {
    list-style: none;
    width: 272px;/*250px;*/
    position: absolute;
    top: 3px;
    left: 0;
    /*background: #c7e4ff url(../images-lang/a-l-bg.png) repeat-x;*/
    background: #c7e4ff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    margin: 0;
    padding: 36px 0 10px 0;
    display: none;
    z-index: 4;
    height: auto;
    border-radius: 0 0 5px 5px;
}

#headNav .a-langs ul li {
    float: left;
    width: 136px;
    padding-right: 0;
    line-height: 24px;
    height: auto;
    background: none;
}

#headNav .a-langs ul li a {
    line-height: 24px;
    display: block;
    padding: 2px 5px 2px 15px;
}

#headNav .a-langs ul li a:hover, #headNav .a-curr ul li a:hover {
    color: #00549f;
    text-decoration: none;
    background: #d8ecff;
}

#headNav .a-lang-list:hover ul {
    display: block;
}

#headNav .a-curr {
    margin: 0 0px;
    position: relative;
    float: right;
    top: -39px;
    padding-right: 35px;
}
#headNav .a-curr a span {
    color: #ffb822;
    display: inline-block;
    width: 22px;
    text-align: right;
    padding-right: 5px;
}
#headNav .a-curr ul {
    list-style: none;
    width: 100px;
    position: absolute;
    top: 3px;
    left: 0;
    background: #c7e4ff url(../images-lang/a-t-bg.png) repeat-x;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    margin: 0;
    padding: 36px 0 10px 0;
    display: none;
    height: auto;
    z-index: 4;
    border-radius: 0 0 5px 5px;
}
#headNav .a-curr ul li a {
    line-height: 24px;
    display: block;
    padding: 2px 5px 2px 15px;
    padding-right: 0;
    line-height: 24px;
}
#headNav .a-curr-list:hover ul {
    display: block;
}
#headNav .a-curr a.active {
    /*z-index: 2;*/
}
#headNav .a-curr ul li {
    width: 115px;
    padding-right: 0;
    line-height: 24px;
    height: auto;
}

.flash{
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 19px;
}

.flash-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flash-affiliate{
    margin-bottom: 40px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
    -moz-appearance: textfield;
}
#col-2 #orderform #billing_info .line.billing_as_shipping{
    /*padding-top: 8px;*/
    height:52px;
}
#col-2 #orderform #billing_info .line label#lbl_billing_as_shipping{
    width:242px;
    text-align:left;
    font-size:0.75em;
}